 

<!DOCTYPE html>

<html>
<head>
    <title></title>
   
    <link rel="stylesheet" type="text/css" href="/Content/css/backend/backend.css" />
     <link rel="stylesheet" type="text/css" href="/Content/css/backend/jquery-ui-1.9.2.custom.min.css" />
    <script src="/Scripts/Backend/jquery-1.8.3.js" type="text/javascript"></script>
    <script src="/Scripts/Backend/jquery-ui-1.9.2.custom.min.js" type="text/javascript"></script>
     <script src="/Scripts/Backend/backend-gui.js" type="text/javascript"></script>
    
   <script>
       $(document).ready(function () {
           var gui = new BackendGui();
           // alert(gui.checkPermission());
           if (!gui.isLoggedIn()) {

               if (gui.checkPermission()) {
                   //   alert("Load Desktop called");
                   gui.loadDesktop();
               
                  

               } else {

                   gui.loadLoginForm('Fehlende Rechte', 'Sie verfügen nicht über die benötigten Recht diesen Bereich zu sehen.');
                   //gui.showLoginError('Fehlende Rechte', 'Sie verfügen nicht über die benötigten Recht diesen Bereich zu sehen.');


               }
           }
           else {

               gui.loadLoginForm();


           }

       });


   </script>
</head>
<body>


 
  <div class="backendNotifications" id="notifications"></div>

<div class="container">
@RenderBody()

</div>
</body>
</html>
