@model nfCMS_NET.Models.Core.BackendShortcut

<div class="ShortCut">
    <div class="ShortCutIcon">

        <img src="@Model.IconUrl" />

    </div>
    <div class="ShortCutText">

        <span>@Model.ShortCutText</span>
    </div>


</div>