  

@{
    Layout = null;
    
}

<div id="frame-desktop-board" class="ui-widget-overlay">
        
        

<div id="frame-desktop-menubar" class="ui-accordion-header ui-helper-reset ui-helper-clearfix ui-state-default ui-corner-all ui-accordion-icons">
     <div style="float:left">
         <input type="hidden" id="backen_menu_count" value="0"/>
     
         
         <div id="startmenucontainer">
         <ul id="startmenu">

         <li>
             <a href="#"><span class="ui-icon ui-icon-newwin"></span>Start</a>
             <ul id="menumenu">
                 <li class="ui-state-active">

                     
                         <a href="#"><span class="ui-icon ui-icon-home"></span>Willkommen <b>@(new nfCMS_NET.MemberShip.nProvider.CurrentUser().nUser.UserName)</b>!</a>
                     
                 </li>
              


                 <li>

                     <a  id="logout" href="#" style="font-weight:bold"><span class="ui-icon ui-icon-cancel ui-state-alert"></span>Abmelden</a>

                 </li>



             </ul>

         </li>

     </ul>
             </div>
        </div>

        <div id="date" title="@Model.MenuBarTimeTitle" style="float:right; text-align:right; font-size:10px; padding-right:10px; padding-top:4px;  display:inline-block;" class="ui-widget">
<div style="float:left">     <span class="ui-icon ui-icon-clock" style=""></span>
    </div>
<div id="time" style="float:right; padding-top:3px">
   
     @Model.MenuBarTime
    </div>
        </div>
    </div>

    </div>
