@{
    Layout = null;
}
<style>
    .loginformHeader
    {
   margin: 0 auto;
width: 300px;
font-size: 13px;
margin-top: 50px;

    }
     .loginformContent
    {
margin: 0 auto;
width: 300px;
font-size: 11px;

    }

    .headerPadding
    {
        padding:5px;
    }

    .contentPadding
    {

        padding:10px;
    }
    .loginTable td
    {
        padding:2px;
        margin:1px;
        vertical-align:top;

    }
        .loginTable td:last-child
        {
            text-align:right;
        }

    .login_Footer
    {
        font-size:8px;
        margin:0 auto;
        margin-top:10px;
        color:grey;
        width:300px;
        text-align:center;
        font-family: Tahoma;
       
    }

        .login_Footer a:visited, .login_Footer a:link
        {
            color:grey;
            text-decoration:underline;
        }


        .login_Footer a:hover
        {
            color:#333;
             text-decoration:none;

        }
</style>

<div id="loginFormular">
<div class="ui-widget loginformHeader">
<div class="headerPadding ui-accordion-header ui-helper-reset ui-helper-clearfix ui-state-default ui-corner-top ui-accordion-icons">

   Login

</div>



    </div>
<div class="ui-widget  loginformContent">
<div class="ui-widget-content ui-corner-bottom contentPadding ">

    <form id="ajaxLogin" method="post" action="./">

        <table class="loginTable" style="width:100%">


            <tr>
                <td>
                <b>Username</b>
                </td>
                <td>

                    <input type="text" id="username" />

                </td>
           </tr>
            
            <tr>
                <td>
                <b>Passwort</b>
                </td>
                <td>

                    <input type="password" id="password" />

                </td>
           </tr>
            <tr>

                <td>
                    <div id="loginStatus">

                    </div>
                </td>
                <td>

                    <input type="submit" value="Login" />

                </td>
            </tr>
        </table>






    </form>




</div></div>

    </div>

<div id="waiter" style="display:none">
<div class="ui-widget loginformHeader">
<div class="headerPadding ui-accordion-header ui-helper-reset ui-helper-clearfix ui-state-default ui-corner-top ui-accordion-icons">

   Bitte warten...

</div>
 </div>
<div class="ui-widget  loginformContent">
<div id="waitertext" class="ui-widget-content ui-corner-bottom contentPadding " style="text-align:center">

    <p>Bitte warten. Sie werden eingeloggt...</p>
    </div></div>
</div>




<div class="login_Footer">



    <p>
        
         <a href="http://www.networkfreaks.de" target="_blank">
             Powered by <b>nfCMS 0.2 ALPHA</b> &copy;2013
             </a>

    </p>


</div>