/***** +Navigation+  ******/
.media-navbar-contents
{
    margin: 0 auto;
 
   clear:both;
   margin-top:20px;

}

div.gallery-navbar-container
{
    margin-top:109px;
    min-height:400px;
 
    width: 300px;
}
div.gallery-nav-img
{
    width:128px;
    height:72px;
    margin:10px;
    float:right;
}
    div.gallery-nav-img:nth-child(odd)
    {
        clear:both;
        float:left;

    }

 


img.gallery-nav-img
{
    max-height:72px;
    max-width:128px;
    min-width:64px;
    min-height:64px;
    margin:auto;
    float:left;
    clear:both;
}


/*** View ***/
div.blog-gallery-view
{
width: 700px;
height: 620px;
}


div.blog-gallery-content
{
height: 400px;
width: 680px;
position: relative;
margin: 10px;
}
    div.blog-gallery-content img
    {

        max-width: 680px;
        max-height: 400px;
        margin: auto;

    }