@model Ren.CMS.Models.Core.BackendShortcut
 @{
     
     string style = "<style type=\"text/css\">"+
                    "#ico-shortcut-"+ Model.id +" {"+
                    "left: "+ Model.PosX +"px;"+
                    "top: "+ Model.PosY +"px;"+
                    "position: absolute !important;"+
                    "}"+
                    "</style>";
                    
                    
         
                    
     
     
     
     
     }



@Html.Raw(style)
<div id="ico-shortcut-@Model.id" class="ShortCut">
    <div class="ShortCutIcon">
         <span style="font-size:64px" class="@Model.IconCls"><i></i></span>
    </div>
    <div class="ShortCutText">

        <span>@Model.ShortCutText</span>
    </div>

    <input name="action" value="@Model.action" type="hidden" />
</div>