@model Ren.CMS.Models.Backend.Layout.MenuModel
@{
    Layout = null;
}



  <li class="dropdown">
              <a href="#"  class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-new-window"></span>&nbsp;Start</a> 
             <ul id="menumenu" class="dropdown-menu">
                 <li class="active">

                     
                           
                 </li>
              
                 @Html.Raw(Model.LiElements)

                 <li class="aMenuLogoutButtonStartMenuTray">

                   
                     <a  id="logout" href="#"><span class="glyphicon glyphicon-off"></span>Abmelden</a>

                 </li>



             </ul>

         </li>

