  

@{
    Layout = null;
    
    //Load User defined style:

    MembershipUser Cu = new Ren.CMS.MemberShip.nProvider.CurrentUser().nUser;

    SqlHelper SQL = new SqlHelper();

    string query = "SELECT ISNULL(backgroundImage,'') as backgroundImage, ISNULL(backgroundColor, '') as backgroundColor, ISNULL(backgroundAlign, '') as backgroundAlign, ISNULL(backgroundRepeat, '') as backgroundRepeat FROM ";
    Ren.CMS.CORE.ThisApplication.ThisApplication TA = new Ren.CMS.CORE.ThisApplication.ThisApplication();

    string prefix = TA.getSqlPrefix;

    query += prefix + "Backend_Desktop_Backgrounds WHERE userid=@uid";

    nSqlParameterCollection PCOL = new nSqlParameterCollection();

    PCOL.Add("@uid", Cu.ProviderUserKey);

    SQL.SysConnect();

    System.Data.SqlClient.SqlDataReader BG = SQL.SysReader(query, PCOL);
    string bgcolor = "#000000";
    string bgimage = "none";
    string bgalign = "center";
    string bgrepeat = "no-repeat";
    if(BG.HasRows)
    {
    
        while(BG.Read())
        {
            if(!String.IsNullOrEmpty((string)BG["backgroundColor"]))
            {
                bgcolor = (string)BG["backgroundColor"];
            }
            if(!String.IsNullOrEmpty((string)BG["backgroundImage"]))
            {
                bgimage = (string)BG["backgroundImage"];
            }
            if (!String.IsNullOrEmpty((string)BG["backgroundAlign"]))
            {
                bgalign = (string)BG["backgroundAlign"];
            }
            if (!String.IsNullOrEmpty((string)BG["backgroundRepeat"]))
            {
                bgrepeat = (string)BG["backgroundRepeat"];
            }



        }
    
    
    }
    
     
    
    //Build CSS String:
    BG.Close();
    SQL.SysDisconnect();
    if(bgimage != "none")
    {

        bgimage = "url(\"/BackendFileHandler/CustomDesktops/" + Cu.ProviderUserKey + "/" + bgimage + "\")";
    
    }
    string css = "<style type=\"text/css\">";

    css += "#mainframe{ ";
    css += "background-color: " + bgcolor + "; ";
    css += "background-image: " + bgimage + "; ";
    css += "background-repeat: " + bgrepeat + "; ";
    css += "background-position: " + bgalign + "; ";
    css += "} ";
    css += "</style>";
    
    
    
    
                 
    
    
    
    
    
    
}

<style>

    .ui-tooltip {

        font-size:11px !important;
        max-width:auto !important;
        
    }

</style>

    @Html.Raw(css)
<script>


    $(function () {


        $("#deleteDialog").dialog({
            bgiframe: true,
            autoOpen: false,
            height: 300,
            modal: true,
            buttons: {
                Ja: function () {
                    $(this).find('input[name="answer"]').val('yes');
                    $(this).dialog('close');
                    
                },
                Nein: function () {
                    $(this).find('input[name="answer"]').val('no');
                    $(this).dialog('close');
                    
                }
            }
        });

    });

</script>
<div id="frame-desktop-board" class="ui-widget-overlay">

    <div id="deleteDialog">
           
        <p>Möchten Sie diese Verknüpfung wirklich löschen?</p>
        <input name="answer" type="hidden" />
    </div>
     <div class="backendNotifications" id="notifications"></div>

    


    <ul id="detailContext" class="contextmenu">

        <li><a class="OpenDT" href="#">Öffnen</a></li>
        <li><a class="DeleteDT" href="#">Löschen</a></li>


    </ul>

    <ul id="defaultContext" class="contextmenu">

        <li><a href="javascript: new widgetAction('widget:CHANGE_BACKGROUND:open')">Hintergrund ändern</a></li>
        <li><a href="javascript: new widgetAction('widget:APPS:open')">Anwendungen</a></li>
        <li><a href="javascript: new widgetAction('widget:SETTINGS:open')">Einstellungen</a></li>

    </ul>
    <!-- Start Nav --->

        <nav id="frame-desktop-menubar" class="navbar navbar-default navbar-fixed-bottom" role="navigation">
            <input type="hidden" id="backen_menu_count" value="0" />
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
 

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul id="startmenu" class="nav navbar-nav">
        <li class="active"><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"></a>
          <ul class="dropdown-menu">
     
          </ul>
        </li>
      </ul>
      <ul id="taskbar" class="nav navbar-nav navbar-left">

      </ul>
      <ul class="nav navbar-nav navbar-right">
         
          </ul>
     
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

    <!-- END NAV -->
 

    </div>
