@{
    Layout = null;
}
 

<div id="loginFormular">
 

   

  <div class="modal-dialog">
          <form id="ajaxLogin" method="post" action="./">

      

    <div class="modal-content">
      <div class="modal-header">
         
        <h4 class="modal-title">Login</h4>
      </div>
      <div class="modal-body">
          <table class="loginTable" style="width:100%">


            <tr>
                <td>
                <b>Username</b>
                </td>
                <td>

                    <input type="text" id="username" />

                </td>
           </tr>
            
            <tr>
                <td>
                <b>Passwort</b>
                </td>
                <td>

                    <input type="password" id="password" />

                </td>
           </tr>
            <tr>

                <td>
                    <div id="loginStatus">

                    </div>
                </td>
                <td>

          

                </td>
            </tr>
        </table>


      </div>
      <div class="modal-footer">
 
 
                    <input type="submit" class="btn btn-primary" data-loading-text="Bitte warten..." value="Login" />
      </div>
    </div><!-- /.modal-content -->
              </form>
  </div><!-- /.modal-dialog --> </div>

<div id="waiter" style="display:none">

     <div class="modal-dialog">
       

      

    <div class="modal-content">
      <div class="modal-header">
         
        <h4 class="modal-title">Bitte warten...</h4>
      </div>
      <div class="modal-body">
        
    <p>Bitte warten. Sie werden eingeloggt...</p>

      </div>
      <div class="modal-footer">
 
 
 
      </div>
    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog --> 
     
</div>




<div class="login_Footer">



    <p>
        
         <a href="http://www.networkfreaks.de" target="_blank">
             Powered by <b>ren_cms 0.2 ALPHA</b> &copy;2013
             </a>

    </p>


</div>