class  <div id="content">
@{
    ViewBag.Title = "Über uns";
}

<h2>Captcha Fehler</h2>
<p>
     Der von dir eingegebene Captcha Code ist leider falsch. Bitte klicke <a href="javascript:history.back()">hier</a> um es erneut zu probieren.
</p>
</div>