 
@model Ren.CMS.Models.Core.nContentPostModel
@using Ren.CMS.CORE.Helper.DataTables
@using Ren.CMS.CORE.Viewmodels.Backend
@using Ren.CMS.CORE.DataTables.BackendModels
@using Mvc.JQuery.Datatables

<fieldset>
    <legend>Dateien</legend>



<div id="@Html.ProtectID("edit_attachment")">
   


     </div>
        
<div style="width:100%">

    <script>
    function deleteAttachment(attachID) {

        $('#DELID').val(attachID);

        $('#delete_attachment').dialog("open");


    }

    function editAttachment(attachID) {

        $('#@Html.ProtectID("edit_attachment")').load("/BackendHandler/Content/GetAttachmentInfo/" + attachID, function () {
                $('#@Html.ProtectID("edit_attachment")').modal('show');

        });


     }
            $(document).ready(function () {

                Shadowbox.init({ skipSetup: true }); Shadowbox.setup();


            });

            $(function () {


                $('#delete_attachment').dialog({
                    autoOpen: false,
                    width: 400,
                    height: 250,
                    modal: true,
                    buttons:
                        {
                            "Ja": function () {
                                $.post("/BackendHandler/Content/DeleteAttachment", { id: $('#DELID').val() }, function () {


                                    $('#edit-content-default-attachments').flexReload();
                                    Shadowbox.init({ skipSetup: true }); Shadowbox.setup();
                                    $('#delete_attachment').dialog("close");



                                });

                            },
                            "Nein": function () {
                                $('#delete_attachment').dialog("close");

                            }



                        }
                });


            });

            $(function () {

                $('#edit_attachment').dialog({
                    autoOpen: false,
                    width: 650,
                    modal: true,
                    title: 'Anpassen',
                    height: 370,
                    buttons: {

                        'Speichern': function () {

                            var parameter = {

                                id: $('#AID').val(),

                                title: $('#fileTitel').val(),

                                role: $('#fileRole option:selected').val(),

                                remark: $('#remark').val()


                            };

                            $.post("/BackendHandler/Content/EditAttachment", parameter, function (data) {
                                $('#edit-content-default-attachments').flexReload();
                                Shadowbox.init({ skipSetup: true }); Shadowbox.setup();
                                $('#edit_attachment').dialog("close");


                            });
                        },

                        'Abbrechen': function () { $('#edit_attachment').dialog("close"); }


                    }




                });


            });


            $(function () {

                $('#file-upload-form').appendTo("body");
                $('#file-upload-form').modal({ show: false, backdrop: "static" });
                $('body').find("*").filter(function () { return $(this).css("z-index") > 0; })
                .each(function () {
                    if ($('#file-upload-form').css("z-index") < $(this).css("z-index"))
                        $('#file-upload-form').css("z-index", $(this).css("z-index") + 1);

                });
                $('#upload-attachments').click(function (e) {
                    e.preventDefault();

                    $('#file-upload-form').modal("show");

                });
                //Fileupload Init

                // Change this to the location of your server-side upload handler:

                $('#Filedata').fileupload({
                    url: "/BackendHandler/Content/AddAttachment",
                    formData: [

                    {
                        name: 'id',
                        value: '@Model.ID'
            }
            ],
            dataType: 'json',
            done: function (e, data) {
                $.each(data.result.files, function (index, file) {
                    $('<p/>').text(file.name).append('<span class="glyphicon glyphicon-ok"></span>')
                        .appendTo('#files').addClass("text-success");
                });
            },
            progressall: function (e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                console.log(progress);
                $('#progress .bar').css(
                    'width',
                    progress + '%'
                );
            }
        }).prop('disabled', !$.support.fileInput)
            .parent().addClass($.support.fileInput ? undefined : 'disabled');

    });
    </script>
 

    <div id="file-upload-form" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
                 
    <div>

            <!-- The fileinput-button span is used to style the file input field as button -->
    <span class="btn btn-success fileinput-button">
        <i class="icon-plus icon-white"></i>
        <span>Dateien auswählen...</span>
        <!-- The file input field used as target for the file upload widget -->
        <input id="Filedata" type="file" name="Filedata[]" multiple>
    </span>
    <br>
    <br>
    <!-- The global progress bar -->
    <div id="progress" class="progress progress-success progress-striped">
        <div class="bar"></div>
    </div>
    <!-- The container for the uploaded files -->
    <div id="files" class="files"></div>


    </div>
                
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


       <button class="btn btn-primary" id="upload-attachments">Dateien hochladen</button>

       @{
           var vm = Html.DataTableVm<Ren.CMS.Controllers.BackendHandlerContentController, ContentAttachmentListView>(Html.ProtectID("files-list"),
      (Ren.CMS.Controllers.BackendHandlerContentController c) => c.GetAttachments(0,null));
           vm.TableTools = false;

           vm.JsOptions.Add("PARAM_id", Model.ID);
           }

        @(Html.JqueryDataTable<ContentAttachmentListView>(vm))
    
    </div>  </fieldset>