@model Ren.CMS.Models.Core.nContentPostModel      

@{
    
    Ren.CMS.Models.Backend.Content.CategoryModel CM = new Ren.CMS.Models.Backend.Content.CategoryModel();
    //Starting jsTree Settings

    Ren.CMS.Models.jsTreeModels.jsTreeSettings JSTREE = new Ren.CMS.Models.jsTreeModels.jsTreeSettings();

    //Plugins
    JSTREE.plugins.ClearPlugins();
    JSTREE.plugins.Add(new string[] { "themes", "json_data", "ui", "crrm", "cookies", "search", "types", "hotkeys" });

    JSTREE.ajax_read.additionalRequestParameters.Add("ContentType", Model.ContentType);

    JSTREE.ajax_read.url = "/BackendHandler/Content/JSTREE_CATEGORIES";

    JSTREE.ui.Add("initially_select", new string[] { Model.CategoryID });
    
    }

<fieldset>
    <legend>Kategorie und Tags</legend>





<table class="tblEditContent">
<tr title="Wählen Sie Tags für den Inhalt aus. Tags werden genutzt um Inhalte nur für ein beliebtes Stichwort anzuzeigen oder Besondere Stichworte hervorzuheben."><td>
<b>Tag auswählen:</b>

            <br />
            <a href="javascript:void(0)" class="create-content-help">Hilfe?</a>

    </td>
    <td>
     @{
                                         Ren.CMS.Content.ContentManagement.TagManagement TagM = new Ren.CMS.Content.ContentManagement.TagManagement();
                                         List<Ren.CMS.Content.nContentTag> Tags = TagM.GetAllTags(Model.ContentType);


                                         List<object> OptionsTags = new List<object>();

                                         foreach (Ren.CMS.Content.nContentTag Tag in Tags)
                                         {
                                             OptionsTags.Add(new { ID = Tag.ID, Name = Tag.Name });


                                         }


         
         }
     
    @Html.ListBoxFor(m => m.Tags, new MultiSelectList(OptionsTags, "ID", "Name", Model.Tags), new { id = Html.ProtectID("tags"), Multiple = "multiple" })
    
       <script>
           $(function () {

               $('#@Html.ProtectID("tags")').chosen();

           });

       </script>  
    </td>

</tr>
         <tr title="Wählen Sie hier die Kategorie für den Inhalt oder legen Sie eine an."><td>

        <b>

            Kategorie:
            
        </b><br />
        <a href="javascript: new widgetAction('widget:NEW_CATEGORY:open')">Neue Kategorie anlegen</a>
        <br />
            <a href="javascript:void(0)" class="create-content-help">Hilfe?</a>
        </td>

        <td>
           

              @Html.jsTreeFull(JSTREE,Html.ProtectID("tree_cat_select"),true)

                    <script>

                        $(function () {

                            $('#@Html.ProtectID("tree_cat_select")').bind("select_node.jstree", function (event, data) {
                        // `data.rslt.obj` is the jquery extended node that was clicked
                        var id = data.rslt.obj.attr("id");
                        if (id == "NO") id = "";
                        $('#@Html.ProtectID("CategoryID")').val(id);
                    });


                });

            </script>
            <style>
                    #@Html.ProtectID("tree_cat_select")
                {
                
                        border: 1px solid #DDD;
     width:100%;
     height:100%;
     float:left;
                text-align:left;
     clear:both;
     margin-top:10px;
     overflow:auto;
                
                }

                .@Html.ProtectID("categoryTreeEditContentDefaultActive") {
                
                
                font-weight:bold;
                
                }

            </style>
                @Html.HiddenFor(m=>m.CategoryID,new{id=Html.ProtectID("CategoryID")})
            <ul id="@Html.ProtectID("categoryTreeEditContentDefault")" class="filetree" style="text-align:left;">


            </ul>
        

        </td>


    </tr></table></fieldset>