ALTER TABLE [dbo].[nfcms_Thumpnails_Module] DROP CONSTRAINT [DF__nfcms_Thu__Heigh__0B47A151]
GO
ALTER TABLE [dbo].[nfcms_Thumpnails_Module] DROP CONSTRAINT [DF__nfcms_Thu__Width__0A537D18]
GO
ALTER TABLE [dbo].[nfcms_Filemanagement_Crossbrowsers] DROP CONSTRAINT [DF_nfcms_Filemanagement_Crossbrowsers_FileType]
GO
/****** Object:  Table [dbo].[nfmcs_Internal_Rating]    Script Date: 04.05.2014 05:30:48 ******/
DROP TABLE [dbo].[nfmcs_Internal_Rating]
GO
/****** Object:  Table [dbo].[nfcms_Users_Settings_Table]    Script Date: 04.05.2014 05:30:48 ******/
DROP TABLE [dbo].[nfcms_Users_Settings_Table]
GO
/****** Object:  Table [dbo].[nfcms_Users_Settings]    Script Date: 04.05.2014 05:30:48 ******/
DROP TABLE [dbo].[nfcms_Users_Settings]
GO
/****** Object:  Table [dbo].[nfcms_Users]    Script Date: 04.05.2014 05:30:48 ******/
DROP TABLE [dbo].[nfcms_Users]
GO
/****** Object:  Table [dbo].[nfcms_User2Settingvalues]    Script Date: 04.05.2014 05:30:48 ******/
DROP TABLE [dbo].[nfcms_User2Settingvalues]
GO
/****** Object:  Table [dbo].[nfcms_Thumpnails_Module]    Script Date: 04.05.2014 05:30:48 ******/
DROP TABLE [dbo].[nfcms_Thumpnails_Module]
GO
/****** Object:  Table [dbo].[nfcms_Sub_Categories]    Script Date: 04.05.2014 05:30:48 ******/
DROP TABLE [dbo].[nfcms_Sub_Categories]
GO
/****** Object:  Table [dbo].[nfcms_SettingValues]    Script Date: 04.05.2014 05:30:48 ******/
DROP TABLE [dbo].[nfcms_SettingValues]
GO
/****** Object:  Table [dbo].[nfcms_SettingStores2Locales]    Script Date: 04.05.2014 05:30:48 ******/
DROP TABLE [dbo].[nfcms_SettingStores2Locales]
GO
/****** Object:  Table [dbo].[nfcms_SettingStores]    Script Date: 04.05.2014 05:30:48 ******/
DROP TABLE [dbo].[nfcms_SettingStores]
GO
/****** Object:  Table [dbo].[nfcms_Settings2Permissions]    Script Date: 04.05.2014 05:30:48 ******/
DROP TABLE [dbo].[nfcms_Settings2Permissions]
GO
/****** Object:  Table [dbo].[nfcms_SettingModels]    Script Date: 04.05.2014 05:30:48 ******/
DROP TABLE [dbo].[nfcms_SettingModels]
GO
/****** Object:  Table [dbo].[nfcms_SettingCategories]    Script Date: 04.05.2014 05:30:48 ******/
DROP TABLE [dbo].[nfcms_SettingCategories]
GO
/****** Object:  Table [dbo].[nfcms_Routing_Synonyms]    Script Date: 04.05.2014 05:30:48 ******/
DROP TABLE [dbo].[nfcms_Routing_Synonyms]
GO
/****** Object:  Table [dbo].[nfcms_RegisteredMIMETypes]    Script Date: 04.05.2014 05:30:48 ******/
DROP TABLE [dbo].[nfcms_RegisteredMIMETypes]
GO
/****** Object:  Table [dbo].[nfcms_Rating_Groups]    Script Date: 04.05.2014 05:30:48 ******/
DROP TABLE [dbo].[nfcms_Rating_Groups]
GO
/****** Object:  Table [dbo].[nfcms_Rating]    Script Date: 04.05.2014 05:30:48 ******/
DROP TABLE [dbo].[nfcms_Rating]
GO
/****** Object:  Table [dbo].[nfcms_Profile_Vars]    Script Date: 04.05.2014 05:30:48 ******/
DROP TABLE [dbo].[nfcms_Profile_Vars]
GO
/****** Object:  Table [dbo].[nfcms_Profile_User_Values]    Script Date: 04.05.2014 05:30:48 ******/
DROP TABLE [dbo].[nfcms_Profile_User_Values]
GO
/****** Object:  Table [dbo].[nfcms_Permissions2Users]    Script Date: 04.05.2014 05:30:48 ******/
DROP TABLE [dbo].[nfcms_Permissions2Users]
GO
/****** Object:  Table [dbo].[nfcms_Permissions2Groups]    Script Date: 04.05.2014 05:30:48 ******/
DROP TABLE [dbo].[nfcms_Permissions2Groups]
GO
/****** Object:  Table [dbo].[nfcms_Permissionkeys]    Script Date: 04.05.2014 05:30:48 ******/
DROP TABLE [dbo].[nfcms_Permissionkeys]
GO
/****** Object:  Table [dbo].[nfcms_PermissionGroups]    Script Date: 04.05.2014 05:30:48 ******/
DROP TABLE [dbo].[nfcms_PermissionGroups]
GO
/****** Object:  Table [dbo].[nfcms_Links2Identfiers]    Script Date: 04.05.2014 05:30:48 ******/
DROP TABLE [dbo].[nfcms_Links2Identfiers]
GO
/****** Object:  Table [dbo].[nfcms_Links]    Script Date: 04.05.2014 05:30:48 ******/
DROP TABLE [dbo].[nfcms_Links]
GO
/****** Object:  Table [dbo].[nfcms_Link_Identifiers]    Script Date: 04.05.2014 05:30:48 ******/
DROP TABLE [dbo].[nfcms_Link_Identifiers]
GO
/****** Object:  Table [dbo].[nfcms_Language]    Script Date: 04.05.2014 05:30:48 ******/
DROP TABLE [dbo].[nfcms_Language]
GO
/****** Object:  Table [dbo].[nfcms_Lang_Codes]    Script Date: 04.05.2014 05:30:48 ******/
DROP TABLE [dbo].[nfcms_Lang_Codes]
GO
/****** Object:  Table [dbo].[nfcms_Internal_Rating]    Script Date: 04.05.2014 05:30:48 ******/
DROP TABLE [dbo].[nfcms_Internal_Rating]
GO
/****** Object:  Table [dbo].[nfcms_Internal_Pro_Contra]    Script Date: 04.05.2014 05:30:48 ******/
DROP TABLE [dbo].[nfcms_Internal_Pro_Contra]
GO
/****** Object:  Table [dbo].[nfcms_Global_Settings]    Script Date: 04.05.2014 05:30:48 ******/
DROP TABLE [dbo].[nfcms_Global_Settings]
GO
/****** Object:  Table [dbo].[nfcms_FileSettingValues]    Script Date: 04.05.2014 05:30:48 ******/
DROP TABLE [dbo].[nfcms_FileSettingValues]
GO
/****** Object:  Table [dbo].[nfcms_Files]    Script Date: 04.05.2014 05:30:48 ******/
DROP TABLE [dbo].[nfcms_Files]
GO
/****** Object:  Table [dbo].[nfcms_FileManagementProfiles2FileSettings]    Script Date: 04.05.2014 05:30:48 ******/
DROP TABLE [dbo].[nfcms_FileManagementProfiles2FileSettings]
GO
/****** Object:  Table [dbo].[nfcms_FileManagementProfiles]    Script Date: 04.05.2014 05:30:48 ******/
DROP TABLE [dbo].[nfcms_FileManagementProfiles]
GO
/****** Object:  Table [dbo].[nfcms_FileManagementFileSettings]    Script Date: 04.05.2014 05:30:48 ******/
DROP TABLE [dbo].[nfcms_FileManagementFileSettings]
GO
/****** Object:  Table [dbo].[nfcms_FilemanagementControllersAcceptProfiles]    Script Date: 04.05.2014 05:30:48 ******/
DROP TABLE [dbo].[nfcms_FilemanagementControllersAcceptProfiles]
GO
/****** Object:  Table [dbo].[nfcms_FilemanagementControllersAcceptMimeTypes]    Script Date: 04.05.2014 05:30:48 ******/
DROP TABLE [dbo].[nfcms_FilemanagementControllersAcceptMimeTypes]
GO
/****** Object:  Table [dbo].[nfcms_FilemanagementControllers]    Script Date: 04.05.2014 05:30:48 ******/
DROP TABLE [dbo].[nfcms_FilemanagementControllers]
GO
/****** Object:  Table [dbo].[nfcms_Filemanagement_Crossbrowsers]    Script Date: 04.05.2014 05:30:48 ******/
DROP TABLE [dbo].[nfcms_Filemanagement_Crossbrowsers]
GO
/****** Object:  Table [dbo].[nfcms_Content_Types]    Script Date: 04.05.2014 05:30:48 ******/
DROP TABLE [dbo].[nfcms_Content_Types]
GO
/****** Object:  Table [dbo].[nfcms_Content_Text]    Script Date: 04.05.2014 05:30:48 ******/
DROP TABLE [dbo].[nfcms_Content_Text]
GO
/****** Object:  Table [dbo].[nfcms_Content_Tags2Content]    Script Date: 04.05.2014 05:30:48 ******/
DROP TABLE [dbo].[nfcms_Content_Tags2Content]
GO
/****** Object:  Table [dbo].[nfcms_Content_Tags]    Script Date: 04.05.2014 05:30:48 ******/
DROP TABLE [dbo].[nfcms_Content_Tags]
GO
/****** Object:  Table [dbo].[nfcms_Content_ClickCounter]    Script Date: 04.05.2014 05:30:48 ******/
DROP TABLE [dbo].[nfcms_Content_ClickCounter]
GO
/****** Object:  Table [dbo].[nfcms_Content_Attachment_Roles]    Script Date: 04.05.2014 05:30:48 ******/
DROP TABLE [dbo].[nfcms_Content_Attachment_Roles]
GO
/****** Object:  Table [dbo].[nfcms_Content_Attachment]    Script Date: 04.05.2014 05:30:48 ******/
DROP TABLE [dbo].[nfcms_Content_Attachment]
GO
/****** Object:  Table [dbo].[nfcms_Content]    Script Date: 04.05.2014 05:30:48 ******/
DROP TABLE [dbo].[nfcms_Content]
GO
/****** Object:  Table [dbo].[nfcms_Category_Text]    Script Date: 04.05.2014 05:30:48 ******/
DROP TABLE [dbo].[nfcms_Category_Text]
GO
/****** Object:  Table [dbo].[nfcms_Categories]    Script Date: 04.05.2014 05:30:48 ******/
DROP TABLE [dbo].[nfcms_Categories]
GO
/****** Object:  Table [dbo].[nfcms_Backend_Widgets]    Script Date: 04.05.2014 05:30:48 ******/
DROP TABLE [dbo].[nfcms_Backend_Widgets]
GO
/****** Object:  Table [dbo].[nfcms_Backend_User_Desktops]    Script Date: 04.05.2014 05:30:48 ******/
DROP TABLE [dbo].[nfcms_Backend_User_Desktops]
GO
/****** Object:  Table [dbo].[nfcms_Backend_Menu]    Script Date: 04.05.2014 05:30:48 ******/
DROP TABLE [dbo].[nfcms_Backend_Menu]
GO
/****** Object:  Table [dbo].[nfcms_Backend_Desktop_Icons]    Script Date: 04.05.2014 05:30:48 ******/
DROP TABLE [dbo].[nfcms_Backend_Desktop_Icons]
GO
/****** Object:  Table [dbo].[nfcms_Backend_Desktop_Backgrounds]    Script Date: 04.05.2014 05:30:48 ******/
DROP TABLE [dbo].[nfcms_Backend_Desktop_Backgrounds]
GO
/****** Object:  Table [dbo].[nfcms_Article_Rating]    Script Date: 04.05.2014 05:30:48 ******/
DROP TABLE [dbo].[nfcms_Article_Rating]
GO
/****** Object:  Table [dbo].[nfcms:Content_Text]    Script Date: 04.05.2014 05:30:48 ******/
DROP TABLE [dbo].[nfcms:Content_Text]
GO
/****** Object:  StoredProcedure [dbo].[addPermissionKey]    Script Date: 04.05.2014 05:30:48 ******/
DROP PROCEDURE [dbo].[addPermissionKey]
GO
/****** Object:  StoredProcedure [dbo].[addPermissionKey]    Script Date: 04.05.2014 05:30:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[addPermissionKey]
	-- Add the parameters for the stored procedure here
@key varchar(150),
@defaultValue varchar(10),
@DescriptionGER text,
@DescriptionENG text,
@AllowAdmins int = 1


AS
BEGIN

 declare @ret as table(
 actionName varchar(100),
 actionStatus varchar(100)
 
 )


	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	DECLARE @langLine as varchar(200)
	SET @langLine = ''+ UPPER(@key) +''
	IF NOT EXISTS(SELECT * FROM [dbo].[nfcms_Permissionkeys] WHERE pkey = @key)
	BEGIN

	INSERT INTO [dbo].[nfcms_Permissionkeys]
           ([pkey]
           ,[defaultVal]
           ,[langLine])
     VALUES
           (
			@key
			,	@defaultValue
           ,@langLine)
	END
	ELSE

	BEGIN
	UPDATE [dbo].[nfcms_Permissionkeys] SET pkey = @key, langLine=@langLine , defaultVal = @defaultValue WHERE pkey=@key

	END
	INSERT INTO @ret VALUES ('Register Permissionkey', 'Done!')

	IF NOT EXISTS(SELECT * FROM [dbo].[nfcms_Language] WHERE Name=@langLine AND Code='de-DE')
		BEGIN
	INSERT INTO [dbo].[nfcms_Language] (Code,Content,Package,Name)
	VALUES
	('de-DE', @DescriptionGER, 'Permissions', @langLine)
	 
		END
	
	IF NOT EXISTS(SELECT * FROM [dbo].[nfcms_Language] WHERE Name=@langLine AND Code='en-US')
		BEGIN
	INSERT INTO [dbo].[nfcms_Language] (Code,Content,Package,Name)
	VALUES
	 ('en-US', @DescriptionENG, 'Permissions', @langLine)
		END
	INSERT INTO @ret VALUES ('Register Lanugage Line', 'Done!')


	IF @AllowAdmins = 1 

	BEGIN
		IF EXISTS(SELECT * FROM [dbo].[nfcms_Permissions2Groups] WHERE pk = @key AND groupID='admins')
			BEGIN


			 UPDATE [dbo].[nfcms_Permissions2Groups] SET val='true' WHERE pk=@key AND groupID = 'admins'
			 END
		ELSE


INSERT INTO [dbo].[nfcms_Permissions2Groups]
           ([groupID]
           ,[val]
           ,[pk])
     VALUES
           ('admins'
           ,'true'
           ,@key)
 



	END

	INSERT INTO @ret VALUES ('Admin Group Assignment', 'Done!')

SELECT * FROM @ret
 
END



GO
/****** Object:  Table [dbo].[nfcms:Content_Text]    Script Date: 04.05.2014 05:30:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[nfcms:Content_Text](
	[id] [int] IDENTITY(1212,1111) NOT NULL,
	[ContentId] [int] NOT NULL,
	[Title] [varchar](255) NOT NULL,
	[SEOname] [varchar](255) NULL,
	[MetaKeyWords] [text] NULL,
	[MetaDescription] [varchar](255) NULL,
	[PreviewText] [varchar](255) NULL,
	[LongText] [text] NULL,
	[LangCode] [varchar](10) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[nfcms_Article_Rating]    Script Date: 04.05.2014 05:30:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nfcms_Article_Rating](
	[id] [int] IDENTITY(1212,1111) NOT NULL,
	[articleID] [int] NOT NULL,
	[ratingID] [int] NOT NULL,
	[stars] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[nfcms_Backend_Desktop_Backgrounds]    Script Date: 04.05.2014 05:30:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[nfcms_Backend_Desktop_Backgrounds](
	[userid] [varchar](250) NOT NULL,
	[backgroundImage] [text] NULL,
	[backgroundColor] [varchar](50) NULL,
	[backgroundAlign] [varchar](50) NULL,
	[backgroundRepeat] [varchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[nfcms_Backend_Desktop_Icons]    Script Date: 04.05.2014 05:30:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[nfcms_Backend_Desktop_Icons](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[langLine] [varchar](150) NULL,
	[Icon] [varchar](150) NULL,
	[Action] [varchar](150) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[nfcms_Backend_Menu]    Script Date: 04.05.2014 05:30:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[nfcms_Backend_Menu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[menuTextLang] [varchar](250) NOT NULL,
	[iconUrl] [varchar](250) NULL,
	[action] [varchar](100) NULL,
	[neededPermission] [varchar](150) NOT NULL,
	[headID] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[nfcms_Backend_User_Desktops]    Script Date: 04.05.2014 05:30:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[nfcms_Backend_User_Desktops](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[iconID] [int] NOT NULL,
	[Icon] [varchar](250) NULL,
	[xPos] [float] NOT NULL,
	[yPos] [float] NOT NULL,
	[userid] [varchar](250) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[nfcms_Backend_Widgets]    Script Date: 04.05.2014 05:30:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[nfcms_Backend_Widgets](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[widgetName] [varchar](50) NOT NULL,
	[widgetPartialView] [varchar](50) NOT NULL,
	[neededPermission] [varchar](50) NOT NULL,
	[definedWidth] [int] NULL,
	[definedHeight] [int] NULL,
	[Icon] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[nfcms_Categories]    Script Date: 04.05.2014 05:30:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[nfcms_Categories](
	[PKID] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[contentType] [varchar](255) NOT NULL,
	[shortName] [varchar](255) NOT NULL,
	[longName] [varchar](255) NOT NULL,
	[subFrom] [varchar](250) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[nfcms_Category_Text]    Script Date: 04.05.2014 05:30:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[nfcms_Category_Text](
	[id] [int] IDENTITY(1212,1111) NOT NULL,
	[CategoryTitle] [varchar](200) NOT NULL,
	[CategoryDescription] [text] NULL,
	[CategoryId] [varchar](200) NOT NULL,
	[LangCode] [varchar](10) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[nfcms_Content]    Script Date: 04.05.2014 05:30:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[nfcms_Content](
	[id] [int] IDENTITY(1212,1111) NOT NULL,
	[CID] [uniqueidentifier] NOT NULL,
	[CreatorPKID] [uniqueidentifier] NOT NULL,
	[Locked] [bit] NOT NULL,
	[ratingGroupID] [int] NULL,
	[cDate] [datetime] NULL,
	[ContentType] [varchar](100) NOT NULL,
	[ContentRef] [int] NULL,
	[CreatorSpecialName] [varchar](250) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[nfcms_Content_Attachment]    Script Date: 04.05.2014 05:30:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[nfcms_Content_Attachment](
	[PKID] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[NID] [int] NOT NULL,
	[attachment_type] [varchar](255) NOT NULL,
	[content_type] [varchar](255) NOT NULL,
	[fPath] [varchar](255) NULL,
	[fName] [varchar](255) NULL,
	[thumpNail] [varchar](255) NULL,
	[AttachmentArgument] [varchar](250) NULL,
	[aTitle] [varchar](150) NULL,
	[AttachmentRemarks] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[nfcms_Content_Attachment_Roles]    Script Date: 04.05.2014 05:30:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[nfcms_Content_Attachment_Roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[aType] [varchar](250) NOT NULL,
	[RoleName] [varchar](250) NOT NULL,
	[RoleLangLine] [varchar](250) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[nfcms_Content_ClickCounter]    Script Date: 04.05.2014 05:30:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[nfcms_Content_ClickCounter](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[IP] [varchar](150) NULL,
	[cid] [int] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[nfcms_Content_Tags]    Script Date: 04.05.2014 05:30:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[nfcms_Content_Tags](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[contentType] [varchar](50) NOT NULL,
	[tagName] [varchar](250) NOT NULL,
	[enableBrowsing] [int] NOT NULL,
	[tagNameSEO] [varchar](250) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[nfcms_Content_Tags2Content]    Script Date: 04.05.2014 05:30:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nfcms_Content_Tags2Content](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[contentID] [int] NOT NULL,
	[tagID] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[nfcms_Content_Text]    Script Date: 04.05.2014 05:30:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[nfcms_Content_Text](
	[id] [int] IDENTITY(1212,1111) NOT NULL,
	[ContentId] [int] NOT NULL,
	[LangCode] [varchar](10) NOT NULL,
	[Title] [varchar](255) NOT NULL,
	[SEOname] [varchar](255) NULL,
	[MetaKeyWords] [text] NULL,
	[MetaDescription] [varchar](255) NULL,
	[PreviewText] [varchar](255) NULL,
	[LongText] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[nfcms_Content_Types]    Script Date: 04.05.2014 05:30:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[nfcms_Content_Types](
	[name] [varchar](250) NOT NULL,
	[controller] [varchar](250) NOT NULL,
	[actionpath] [varchar](350) NOT NULL,
	[createPartial] [varchar](250) NULL,
	[editPartial] [varchar](250) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[nfcms_Filemanagement_Crossbrowsers]    Script Date: 04.05.2014 05:30:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[nfcms_Filemanagement_Crossbrowsers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[browserID] [varchar](50) NOT NULL,
	[browserFullName] [varchar](250) NOT NULL,
	[FileFormat] [varchar](50) NOT NULL,
	[FileType] [varchar](50) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[nfcms_FilemanagementControllers]    Script Date: 04.05.2014 05:30:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[nfcms_FilemanagementControllers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ControllerName] [varchar](50) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[nfcms_FilemanagementControllersAcceptMimeTypes]    Script Date: 04.05.2014 05:30:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[nfcms_FilemanagementControllersAcceptMimeTypes](
	[id] [int] NOT NULL,
	[MimeType] [varchar](50) NULL,
	[cid] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[nfcms_FilemanagementControllersAcceptProfiles]    Script Date: 04.05.2014 05:30:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nfcms_FilemanagementControllersAcceptProfiles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[pid] [int] NULL,
	[cid] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[nfcms_FileManagementFileSettings]    Script Date: 04.05.2014 05:30:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[nfcms_FileManagementFileSettings](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[SettingName] [varchar](50) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[nfcms_FileManagementProfiles]    Script Date: 04.05.2014 05:30:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[nfcms_FileManagementProfiles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ProfileName] [varchar](50) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[nfcms_FileManagementProfiles2FileSettings]    Script Date: 04.05.2014 05:30:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nfcms_FileManagementProfiles2FileSettings](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ProfileID] [int] NOT NULL,
	[SettingID] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[nfcms_Files]    Script Date: 04.05.2014 05:30:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[nfcms_Files](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fpath] [text] NOT NULL,
	[aliasName] [varchar](255) NOT NULL,
	[needPermission] [varchar](255) NOT NULL,
	[active] [int] NOT NULL,
	[fileSize] [int] NULL,
	[ProfileID] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[nfcms_FileSettingValues]    Script Date: 04.05.2014 05:30:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[nfcms_FileSettingValues](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ProfileID] [int] NOT NULL,
	[SettingID] [int] NOT NULL,
	[SettingValue] [varchar](50) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[nfcms_Global_Settings]    Script Date: 04.05.2014 05:30:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[nfcms_Global_Settings](
	[id] [int] IDENTITY(1212,1111) NOT NULL,
	[settingName] [varchar](250) NOT NULL,
	[settingValue] [varchar](250) NOT NULL,
	[ContentType] [varchar](50) NULL,
	[s_type] [char](10) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[nfcms_Internal_Pro_Contra]    Script Date: 04.05.2014 05:30:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[nfcms_Internal_Pro_Contra](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[refid] [int] NOT NULL,
	[pType] [varchar](50) NOT NULL,
	[pText] [varchar](150) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[nfcms_Internal_Rating]    Script Date: 04.05.2014 05:30:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[nfcms_Internal_Rating](
	[topic] [varchar](250) NOT NULL,
	[refid] [int] NOT NULL,
	[stars] [int] NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[nfcms_Lang_Codes]    Script Date: 04.05.2014 05:30:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[nfcms_Lang_Codes](
	[id] [int] IDENTITY(1212,1111) NOT NULL,
	[code] [varchar](50) NOT NULL,
	[name] [varchar](250) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[nfcms_Language]    Script Date: 04.05.2014 05:30:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[nfcms_Language](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[Content] [text] NOT NULL,
	[Package] [varchar](255) NOT NULL,
	[Code] [varchar](128) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[nfcms_Link_Identifiers]    Script Date: 04.05.2014 05:30:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[nfcms_Link_Identifiers](
	[id] [int] IDENTITY(1,3) NOT NULL,
	[identiferName] [varchar](50) NOT NULL,
	[theme] [varchar](50) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[nfcms_Links]    Script Date: 04.05.2014 05:30:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[nfcms_Links](
	[id] [int] IDENTITY(1212,1111) NOT NULL,
	[LinkType] [varchar](255) NOT NULL,
	[LinkController] [varchar](255) NULL,
	[LinkAction] [varchar](255) NULL,
	[LinkHref] [varchar](255) NULL,
	[LinkText] [varchar](255) NOT NULL,
	[LinkRelationship] [varchar](250) NULL,
	[LinkIsActive] [varchar](50) NULL,
	[SublinkController] [varchar](250) NULL,
	[SublinkAction] [varchar](250) NULL,
	[SublinkFrom] [int] NULL,
	[NormalStateClass] [varchar](50) NULL,
	[HoverStateClass] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[nfcms_Links2Identfiers]    Script Date: 04.05.2014 05:30:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nfcms_Links2Identfiers](
	[linkID] [int] NOT NULL,
	[identifierID] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[nfcms_PermissionGroups]    Script Date: 04.05.2014 05:30:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[nfcms_PermissionGroups](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[groupName] [varchar](250) NOT NULL,
	[isGuestGroup] [varchar](50) NOT NULL,
	[isDefaultGroup] [varchar](50) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[nfcms_Permissionkeys]    Script Date: 04.05.2014 05:30:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[nfcms_Permissionkeys](
	[pkey] [varchar](150) NOT NULL,
	[defaultVal] [varchar](50) NOT NULL,
	[langLine] [varchar](50) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[nfcms_Permissions2Groups]    Script Date: 04.05.2014 05:30:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[nfcms_Permissions2Groups](
	[groupID] [varchar](50) NULL,
	[val] [varchar](50) NULL,
	[pk] [varchar](150) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[nfcms_Permissions2Users]    Script Date: 04.05.2014 05:30:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[nfcms_Permissions2Users](
	[pk] [varchar](150) NULL,
	[groupID] [varchar](150) NULL,
	[val] [varchar](150) NULL,
	[usr] [varchar](150) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[nfcms_Profile_User_Values]    Script Date: 04.05.2014 05:30:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[nfcms_Profile_User_Values](
	[VarName] [varchar](150) NULL,
	[VarValue] [text] NULL,
	[PKID] [varchar](250) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[nfcms_Profile_Vars]    Script Date: 04.05.2014 05:30:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[nfcms_Profile_Vars](
	[Name] [varchar](150) NULL,
	[LangLine] [varchar](150) NULL,
	[Section] [varchar](150) NULL,
	[ViewName] [varchar](150) NULL,
	[Active] [varchar](50) NULL,
	[ShowInProfile] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[nfcms_Rating]    Script Date: 04.05.2014 05:30:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[nfcms_Rating](
	[id] [int] IDENTITY(1212,1111) NOT NULL,
	[GroupID] [int] NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[langCode] [varchar](55) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[nfcms_Rating_Groups]    Script Date: 04.05.2014 05:30:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[nfcms_Rating_Groups](
	[id] [int] IDENTITY(1212,1111) NOT NULL,
	[InternalName] [varchar](255) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[nfcms_RegisteredMIMETypes]    Script Date: 04.05.2014 05:30:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[nfcms_RegisteredMIMETypes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fileExstension] [varchar](50) NOT NULL,
	[MIMEType] [varchar](50) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[nfcms_Routing_Synonyms]    Script Date: 04.05.2014 05:30:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[nfcms_Routing_Synonyms](
	[name] [varchar](150) NOT NULL,
	[controller] [varchar](150) NOT NULL,
	[action] [varchar](150) NOT NULL,
	[rpath] [varchar](250) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[nfcms_SettingCategories]    Script Date: 04.05.2014 05:30:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[nfcms_SettingCategories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[CatRel] [varchar](150) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[nfcms_SettingModels]    Script Date: 04.05.2014 05:30:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[nfcms_SettingModels](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[SettingName] [varchar](150) NOT NULL,
	[SettingLangLineLabel] [varchar](150) NOT NULL,
	[SettingLangLineDescr] [varchar](150) NOT NULL,
	[SettingDefaultValue] [text] NULL,
	[SettingRelation] [varchar](150) NOT NULL,
	[SettingType] [varchar](150) NOT NULL,
	[ValueType] [varchar](150) NOT NULL,
	[CID] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[nfcms_Settings2Permissions]    Script Date: 04.05.2014 05:30:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[nfcms_Settings2Permissions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[FrontEndPM] [varchar](50) NOT NULL,
	[BackEndPM] [varchar](50) NOT NULL,
	[sid] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[nfcms_SettingStores]    Script Date: 04.05.2014 05:30:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[nfcms_SettingStores](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sid] [int] NOT NULL,
	[val] [varchar](150) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[nfcms_SettingStores2Locales]    Script Date: 04.05.2014 05:30:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[nfcms_SettingStores2Locales](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[stid] [int] NOT NULL,
	[langLine] [varchar](250) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[nfcms_SettingValues]    Script Date: 04.05.2014 05:30:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nfcms_SettingValues](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[SettingValue] [text] NOT NULL,
	[SettingID] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[nfcms_Sub_Categories]    Script Date: 04.05.2014 05:30:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[nfcms_Sub_Categories](
	[PKID] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[CID] [uniqueidentifier] NULL,
	[ref] [varchar](255) NOT NULL,
	[shortName] [varchar](255) NOT NULL,
	[longName] [varchar](255) NOT NULL,
	[langCode] [varchar](128) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[nfcms_Thumpnails_Module]    Script Date: 04.05.2014 05:30:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[nfcms_Thumpnails_Module](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[atID] [uniqueidentifier] NOT NULL,
	[LastModification] [datetime] NOT NULL,
	[Path] [varchar](255) NULL,
	[Width] [int] NULL,
	[Height] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[nfcms_User2Settingvalues]    Script Date: 04.05.2014 05:30:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[nfcms_User2Settingvalues](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sid] [int] NOT NULL,
	[uid] [varchar](250) NOT NULL,
	[vid] [int] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[nfcms_Users]    Script Date: 04.05.2014 05:30:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[nfcms_Users](
	[PKID] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Username] [varchar](255) NOT NULL,
	[Loginname] [varchar](255) NOT NULL,
	[ApplicationName] [varchar](255) NOT NULL,
	[Email] [varchar](128) NOT NULL,
	[Comment] [varchar](255) NULL,
	[Password] [varchar](128) NOT NULL,
	[PasswordQuestion] [varchar](255) NULL,
	[PasswordAnswer] [varchar](255) NULL,
	[IsApproved] [varchar](10) NULL,
	[LastActivityDate] [datetime] NULL,
	[LastLoginDate] [datetime] NULL,
	[LastPasswordChangedDate] [datetime] NULL,
	[CreationDate] [datetime] NULL,
	[IsOnLine] [varchar](10) NULL,
	[IsLockedOut] [varchar](10) NULL,
	[LastLockedOutDate] [datetime] NULL,
	[FailedPasswordAttemptCount] [int] NULL,
	[FailedPasswordAttemptWindowStart] [datetime] NULL,
	[FailedPasswordAnswerAttemptCount] [int] NULL,
	[FailedPasswordAnswerAttemptWindowStart] [datetime] NULL,
	[IsSubscriber] [varchar](10) NULL,
	[CustomerID] [text] NULL,
	[PermissionGroup] [varchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[nfcms_Users_Settings]    Script Date: 04.05.2014 05:30:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[nfcms_Users_Settings](
	[id] [int] IDENTITY(1212,1111) NOT NULL,
	[upkid] [varchar](255) NOT NULL,
	[settingName] [varchar](250) NOT NULL,
	[settingValue] [varchar](250) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[nfcms_Users_Settings_Table]    Script Date: 04.05.2014 05:30:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[nfcms_Users_Settings_Table](
	[id] [int] IDENTITY(1212,1111) NOT NULL,
	[settingName] [varchar](255) NOT NULL,
	[settingDefaultVal] [varchar](250) NULL,
	[settingLangLine] [varchar](250) NULL,
	[settingLongDescription] [varchar](250) NULL,
	[SettingOrder] [int] NULL,
	[DataType] [varchar](50) NULL,
	[s_type] [char](10) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[nfmcs_Internal_Rating]    Script Date: 04.05.2014 05:30:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[nfmcs_Internal_Rating](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[topic] [varchar](50) NOT NULL,
	[stars] [int] NOT NULL,
	[refid] [int] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[nfcms_Backend_Desktop_Backgrounds] ([userid], [backgroundImage], [backgroundColor], [backgroundAlign], [backgroundRepeat]) VALUES (N'8cbbfe36-c96e-46fc-a8af-b6757181e799', N'none', N'#18a82b', N'center', N'no-repeat')
INSERT [dbo].[nfcms_Backend_Desktop_Backgrounds] ([userid], [backgroundImage], [backgroundColor], [backgroundAlign], [backgroundRepeat]) VALUES (N'5fa9ac51-823f-45f5-ad6e-946765c40f48', N'none', N'#000000', N'center', N'no-repeat')
SET IDENTITY_INSERT [dbo].[nfcms_Backend_Desktop_Icons] ON 

INSERT [dbo].[nfcms_Backend_Desktop_Icons] ([id], [langLine], [Icon], [Action]) VALUES (1, N'LANG_DESKTOPICON_APPLICATIONS', N'fa fa fa-tachometer', N'widget:APPS:open')
INSERT [dbo].[nfcms_Backend_Desktop_Icons] ([id], [langLine], [Icon], [Action]) VALUES (2, N'LANG_DESKTOPICON_MANAGECONTENT', N'fa fa-pencil-square-o', N'widget:CONTENT_LIST:open')
INSERT [dbo].[nfcms_Backend_Desktop_Icons] ([id], [langLine], [Icon], [Action]) VALUES (3, N'LANG_DESKTOP_ICONS_CONTENT_CATEGORIES', N'fa fa-folder-open', N'widget:CONTENT_CATEGORIES:open')
SET IDENTITY_INSERT [dbo].[nfcms_Backend_Desktop_Icons] OFF
SET IDENTITY_INSERT [dbo].[nfcms_Backend_Menu] ON 

INSERT [dbo].[nfcms_Backend_Menu] ([id], [menuTextLang], [iconUrl], [action], [neededPermission], [headID]) VALUES (1, N'Inhalte', N'/Filemanagement/Icons/default.ico.png', N'#', N'USR_CAN_ENTER_BACKEND', 0)
INSERT [dbo].[nfcms_Backend_Menu] ([id], [menuTextLang], [iconUrl], [action], [neededPermission], [headID]) VALUES (2, N'Inhalte verwalten', N'/Filemanagement/Icons/default.ico.png', N'widget:CONTENT_LIST', N'USR_CAN_ENTER_BACKEND', 1)
INSERT [dbo].[nfcms_Backend_Menu] ([id], [menuTextLang], [iconUrl], [action], [neededPermission], [headID]) VALUES (3, N'Inhalte erstellen', N'/Filemanagement/Icons/default.ico.png', N'widget:CONTENT_CREATE', N'USR_CAN_ENTER_BACKEND', 1)
SET IDENTITY_INSERT [dbo].[nfcms_Backend_Menu] OFF
SET IDENTITY_INSERT [dbo].[nfcms_Backend_User_Desktops] ON 

INSERT [dbo].[nfcms_Backend_User_Desktops] ([id], [iconID], [Icon], [xPos], [yPos], [userid]) VALUES (1, 1, NULL, 460, 330, N'8CBBFE36-C96E-46FC-A8AF-B6757181E799')
INSERT [dbo].[nfcms_Backend_User_Desktops] ([id], [iconID], [Icon], [xPos], [yPos], [userid]) VALUES (13, 2, NULL, 935.99426269531239, 226.98863220214844, N'8cbbfe36-c96e-46fc-a8af-b6757181e799')
INSERT [dbo].[nfcms_Backend_User_Desktops] ([id], [iconID], [Icon], [xPos], [yPos], [userid]) VALUES (14, 3, NULL, 358, 48, N'8cbbfe36-c96e-46fc-a8af-b6757181e799')
SET IDENTITY_INSERT [dbo].[nfcms_Backend_User_Desktops] OFF
SET IDENTITY_INSERT [dbo].[nfcms_Backend_Widgets] ON 

INSERT [dbo].[nfcms_Backend_Widgets] ([id], [widgetName], [widgetPartialView], [neededPermission], [definedWidth], [definedHeight], [Icon]) VALUES (1, N'APPS', N'widget_apps', N'USR_CAN_ENTER_BACKEND', NULL, NULL, N'fa fa-tachometer')
INSERT [dbo].[nfcms_Backend_Widgets] ([id], [widgetName], [widgetPartialView], [neededPermission], [definedWidth], [definedHeight], [Icon]) VALUES (2, N'CONTENT_CATEGORIES', N'content_categories', N'USR_CAN_ENTER_BACKEND', NULL, NULL, N'fa fa fa-folder-open')
INSERT [dbo].[nfcms_Backend_Widgets] ([id], [widgetName], [widgetPartialView], [neededPermission], [definedWidth], [definedHeight], [Icon]) VALUES (3, N'CHANGE_BACKGROUND', N'change_background', N'USR_CAN_ENTER_BACKEND', 600, 350, N'fa fa-picture-o')
SET IDENTITY_INSERT [dbo].[nfcms_Backend_Widgets] OFF
INSERT [dbo].[nfcms_Categories] ([PKID], [contentType], [shortName], [longName], [subFrom]) VALUES (N'0546a648-6690-4616-a19c-0e728fb874fd', N'eNews', N'Testx', N'Test Test', N'')
INSERT [dbo].[nfcms_Categories] ([PKID], [contentType], [shortName], [longName], [subFrom]) VALUES (N'dcf40592-4538-43c8-91d5-828705a4a341', N'eNews', N'Test2', N'Test2', N'0546a648-6690-4616-a19c-0e728fb874fd')
INSERT [dbo].[nfcms_Categories] ([PKID], [contentType], [shortName], [longName], [subFrom]) VALUES (N'78a0fd31-5f82-4cb7-8cd3-977f679f584c', N'eArticle', N'Test', N'Test', N'ffaf3710-558a-4eba-a4d1-aa7b0988062a')
SET IDENTITY_INSERT [dbo].[nfcms_Content] ON 

INSERT [dbo].[nfcms_Content] ([id], [CID], [CreatorPKID], [Locked], [ratingGroupID], [cDate], [ContentType], [ContentRef], [CreatorSpecialName]) VALUES (24543, N'0546a648-6690-4616-a19c-0e728fb874fd', N'5fa9ac51-823f-45f5-ad6e-946765c40f48', 1, 0, CAST(0x0000A30E00000000 AS DateTime), N'eNews', 0, NULL)
SET IDENTITY_INSERT [dbo].[nfcms_Content] OFF
INSERT [dbo].[nfcms_Content_Attachment] ([PKID], [NID], [attachment_type], [content_type], [fPath], [fName], [thumpNail], [AttachmentArgument], [aTitle], [AttachmentRemarks]) VALUES (N'636580c9-090e-4d1f-a14a-39bc6356c826', 24543, N'image', N'eNews', N'/FileManagement/image/eNews', N'2-1264408_646833985347347_841707541_o-24543.jpg', N'/Thumpnail/24543/636580c9-090e-4d1f-a14a-39bc6356c826/2-1264408_646833985347347_841707541_o-24543.jpg', N'GALLERY', N'1264408_646833985347347_841707541_o', N'')
INSERT [dbo].[nfcms_Content_Attachment] ([PKID], [NID], [attachment_type], [content_type], [fPath], [fName], [thumpNail], [AttachmentArgument], [aTitle], [AttachmentRemarks]) VALUES (N'81765176-fc4c-4809-8c48-9be736529ac9', 24543, N'video', N'eNews', N'/FileManagement/video/eNews', N'2-bf4-24543.m4v', N'/Thumpnail/24543/81765176-fc4c-4809-8c48-9be736529ac9/2-bf4-24543.jpg', N'GALLERY', N'bf4', N'')
INSERT [dbo].[nfcms_Content_Attachment] ([PKID], [NID], [attachment_type], [content_type], [fPath], [fName], [thumpNail], [AttachmentArgument], [aTitle], [AttachmentRemarks]) VALUES (N'cb04fa4b-c13d-4a03-8296-f44609558c8f', 24543, N'video', N'eNews', N'/FileManagement/video/eNews', N'3-gro-24543.m4v', N'/Thumpnail/24543/cb04fa4b-c13d-4a03-8296-f44609558c8f/3-gro-24543.jpg', N'GALLERY', N'gro', N'')
SET IDENTITY_INSERT [dbo].[nfcms_Content_Attachment_Roles] ON 

INSERT [dbo].[nfcms_Content_Attachment_Roles] ([id], [aType], [RoleName], [RoleLangLine]) VALUES (1, N'image', N'INDEXIMG', N'LANG_AARGUMENTS_INDEXIMG')
INSERT [dbo].[nfcms_Content_Attachment_Roles] ([id], [aType], [RoleName], [RoleLangLine]) VALUES (2, N'image', N'GALLERY', N'LANG_AARGUMENTS_GALLERY')
INSERT [dbo].[nfcms_Content_Attachment_Roles] ([id], [aType], [RoleName], [RoleLangLine]) VALUES (3, N'video', N'GALLERY', N'LANG_AARGUMENTS_GALLERY')
SET IDENTITY_INSERT [dbo].[nfcms_Content_Attachment_Roles] OFF
SET IDENTITY_INSERT [dbo].[nfcms_Content_Tags] ON 

INSERT [dbo].[nfcms_Content_Tags] ([id], [contentType], [tagName], [enableBrowsing], [tagNameSEO]) VALUES (2, N'eNews', N'PC', 1, N'PC')
INSERT [dbo].[nfcms_Content_Tags] ([id], [contentType], [tagName], [enableBrowsing], [tagNameSEO]) VALUES (3, N'eNews', N'PS4', 1, N'PS4')
INSERT [dbo].[nfcms_Content_Tags] ([id], [contentType], [tagName], [enableBrowsing], [tagNameSEO]) VALUES (6, N'eArticle', N'PS4', 1, N'PS4')
SET IDENTITY_INSERT [dbo].[nfcms_Content_Tags] OFF
SET IDENTITY_INSERT [dbo].[nfcms_Content_Text] ON 

SET IDENTITY_INSERT [dbo].[nfcms_Content_Text] OFF
INSERT [dbo].[nfcms_Content_Types] ([name], [controller], [actionpath], [createPartial], [editPartial]) VALUES (N'eNews', N'News', N'{id}-{SEOname}-', NULL, NULL)
INSERT [dbo].[nfcms_Content_Types] ([name], [controller], [actionpath], [createPartial], [editPartial]) VALUES (N'eArticle', N'Article', N'Show/{id}-{SEOname}-', NULL, NULL)
SET IDENTITY_INSERT [dbo].[nfcms_Filemanagement_Crossbrowsers] ON 

INSERT [dbo].[nfcms_Filemanagement_Crossbrowsers] ([Id], [browserID], [browserFullName], [FileFormat], [FileType]) VALUES (1, N'chrome', N'Google Chrome', N'm4v', N'video')
INSERT [dbo].[nfcms_Filemanagement_Crossbrowsers] ([Id], [browserID], [browserFullName], [FileFormat], [FileType]) VALUES (2, N'firefox', N'Mozilla Firefox', N'webm', N'video')
INSERT [dbo].[nfcms_Filemanagement_Crossbrowsers] ([Id], [browserID], [browserFullName], [FileFormat], [FileType]) VALUES (3, N'default', N'Default Browser Detection', N'mp4', N'video')
SET IDENTITY_INSERT [dbo].[nfcms_Filemanagement_Crossbrowsers] OFF
SET IDENTITY_INSERT [dbo].[nfcms_FilemanagementControllers] ON 

INSERT [dbo].[nfcms_FilemanagementControllers] ([id], [ControllerName]) VALUES (1, N'UserAvatar')
INSERT [dbo].[nfcms_FilemanagementControllers] ([id], [ControllerName]) VALUES (2, N'FileManagement')
SET IDENTITY_INSERT [dbo].[nfcms_FilemanagementControllers] OFF
INSERT [dbo].[nfcms_FilemanagementControllersAcceptMimeTypes] ([id], [MimeType], [cid]) VALUES (0, N'image/*', 2)
INSERT [dbo].[nfcms_FilemanagementControllersAcceptMimeTypes] ([id], [MimeType], [cid]) VALUES (0, N'image/*', 1)
SET IDENTITY_INSERT [dbo].[nfcms_FilemanagementControllersAcceptProfiles] ON 

INSERT [dbo].[nfcms_FilemanagementControllersAcceptProfiles] ([id], [pid], [cid]) VALUES (1, 1, 1)
INSERT [dbo].[nfcms_FilemanagementControllersAcceptProfiles] ([id], [pid], [cid]) VALUES (2, 2, 2)
INSERT [dbo].[nfcms_FilemanagementControllersAcceptProfiles] ([id], [pid], [cid]) VALUES (3, 3, 2)
SET IDENTITY_INSERT [dbo].[nfcms_FilemanagementControllersAcceptProfiles] OFF
SET IDENTITY_INSERT [dbo].[nfcms_FileManagementFileSettings] ON 

INSERT [dbo].[nfcms_FileManagementFileSettings] ([id], [SettingName]) VALUES (1, N'USE_WATERMARK_IMAGE')
INSERT [dbo].[nfcms_FileManagementFileSettings] ([id], [SettingName]) VALUES (2, N'USE_WATERMARK_TEXT')
INSERT [dbo].[nfcms_FileManagementFileSettings] ([id], [SettingName]) VALUES (3, N'WATERMARK_IMAGE_MARGIN')
SET IDENTITY_INSERT [dbo].[nfcms_FileManagementFileSettings] OFF
SET IDENTITY_INSERT [dbo].[nfcms_FileManagementProfiles] ON 

INSERT [dbo].[nfcms_FileManagementProfiles] ([id], [ProfileName]) VALUES (1, N'UserAvatar')
INSERT [dbo].[nfcms_FileManagementProfiles] ([id], [ProfileName]) VALUES (2, N'default')
INSERT [dbo].[nfcms_FileManagementProfiles] ([id], [ProfileName]) VALUES (3, N'contentImages')
SET IDENTITY_INSERT [dbo].[nfcms_FileManagementProfiles] OFF
SET IDENTITY_INSERT [dbo].[nfcms_FileManagementProfiles2FileSettings] ON 

INSERT [dbo].[nfcms_FileManagementProfiles2FileSettings] ([id], [ProfileID], [SettingID]) VALUES (1, 1, 1)
INSERT [dbo].[nfcms_FileManagementProfiles2FileSettings] ([id], [ProfileID], [SettingID]) VALUES (2, 1, 2)
INSERT [dbo].[nfcms_FileManagementProfiles2FileSettings] ([id], [ProfileID], [SettingID]) VALUES (3, 1, 3)
SET IDENTITY_INSERT [dbo].[nfcms_FileManagementProfiles2FileSettings] OFF
SET IDENTITY_INSERT [dbo].[nfcms_Files] ON 

INSERT [dbo].[nfcms_Files] ([id], [fpath], [aliasName], [needPermission], [active], [fileSize], [ProfileID]) VALUES (1, N'/Storage/Content/eNews/9ceb6f0733d8a2dbb6d7e5140a8aa529e7516909.jpg', N'2-1264408_646833985347347_841707541_o-24543.jpg', N'', 1, 552425, 3)
INSERT [dbo].[nfcms_Files] ([id], [fpath], [aliasName], [needPermission], [active], [fileSize], [ProfileID]) VALUES (2, N'/Storage/Content/eNews/40e7c99f911c04fb9c0df5bc8a535778cc46fa93.mp4.m4v', N'2-bf4-24543.m4v', N'', 1, 3845977, 3)
INSERT [dbo].[nfcms_Files] ([id], [fpath], [aliasName], [needPermission], [active], [fileSize], [ProfileID]) VALUES (3, N'/Storage/Content/eNews/50159ff6b0d4802b9f06def5a55bb5c6d79db415.mp4.m4v', N'3-gro-24543.m4v', N'', 1, 89829703, 3)
SET IDENTITY_INSERT [dbo].[nfcms_Files] OFF
SET IDENTITY_INSERT [dbo].[nfcms_FileSettingValues] ON 

INSERT [dbo].[nfcms_FileSettingValues] ([id], [ProfileID], [SettingID], [SettingValue]) VALUES (1, 1, 1, N'FALSE')
INSERT [dbo].[nfcms_FileSettingValues] ([id], [ProfileID], [SettingID], [SettingValue]) VALUES (2, 1, 2, N'FALSE')
INSERT [dbo].[nfcms_FileSettingValues] ([id], [ProfileID], [SettingID], [SettingValue]) VALUES (3, 1, 3, N'2')
SET IDENTITY_INSERT [dbo].[nfcms_FileSettingValues] OFF
SET IDENTITY_INSERT [dbo].[nfcms_Global_Settings] ON 

INSERT [dbo].[nfcms_Global_Settings] ([id], [settingName], [settingValue], [ContentType], [s_type]) VALUES (1212, N'__USER__langCode', N'de-DE', N'MAIN', NULL)
INSERT [dbo].[nfcms_Global_Settings] ([id], [settingName], [settingValue], [ContentType], [s_type]) VALUES (2323, N'GLOBAL_INDEX_MAX_ENTRIES', N'10', N'MAIN', NULL)
INSERT [dbo].[nfcms_Global_Settings] ([id], [settingName], [settingValue], [ContentType], [s_type]) VALUES (3434, N'GLOBAL_NEWS_MAX_ENTRIES', N'10', N'eNews', NULL)
SET IDENTITY_INSERT [dbo].[nfcms_Global_Settings] OFF
SET IDENTITY_INSERT [dbo].[nfcms_Internal_Pro_Contra] ON 

INSERT [dbo].[nfcms_Internal_Pro_Contra] ([id], [refid], [pType], [pText]) VALUES (1, 1212, N'pro', N'Gute Grafik')
INSERT [dbo].[nfcms_Internal_Pro_Contra] ([id], [refid], [pType], [pText]) VALUES (2, 1212, N'pro', N'Guter Sound')
INSERT [dbo].[nfcms_Internal_Pro_Contra] ([id], [refid], [pType], [pText]) VALUES (3, 1212, N'contra', N'Gameplay ist nicht vorteilhaft')
SET IDENTITY_INSERT [dbo].[nfcms_Internal_Pro_Contra] OFF
SET IDENTITY_INSERT [dbo].[nfcms_Internal_Rating] ON 

INSERT [dbo].[nfcms_Internal_Rating] ([topic], [refid], [stars], [id]) VALUES (N'Grafik', 1212, 5, 1)
INSERT [dbo].[nfcms_Internal_Rating] ([topic], [refid], [stars], [id]) VALUES (N'Sound', 1212, 2, 2)
INSERT [dbo].[nfcms_Internal_Rating] ([topic], [refid], [stars], [id]) VALUES (N'Gameplayk', 1212, 3, 3)
SET IDENTITY_INSERT [dbo].[nfcms_Internal_Rating] OFF
SET IDENTITY_INSERT [dbo].[nfcms_Lang_Codes] ON 

INSERT [dbo].[nfcms_Lang_Codes] ([id], [code], [name]) VALUES (1212, N'de-DE', N'Deutsch')
INSERT [dbo].[nfcms_Lang_Codes] ([id], [code], [name]) VALUES (2323, N'en-US', N'English')
SET IDENTITY_INSERT [dbo].[nfcms_Lang_Codes] OFF
SET IDENTITY_INSERT [dbo].[nfcms_Language] ON 

INSERT [dbo].[nfcms_Language] ([Id], [Name], [Content], [Package], [Code]) VALUES (1, N'LANG_LINKS_HOME', N'Startseite', N'LINKS', N'de-DE')
INSERT [dbo].[nfcms_Language] ([Id], [Name], [Content], [Package], [Code]) VALUES (2, N'LANG_LINKS_HOME', N'Home', N'LINKS', N'en-US')
INSERT [dbo].[nfcms_Language] ([Id], [Name], [Content], [Package], [Code]) VALUES (3, N'LANG_LINKS_GAMES', N'Games', N'LINKS', N'de-DE')
GO
SET IDENTITY_INSERT [dbo].[nfcms_Language] OFF
SET IDENTITY_INSERT [dbo].[nfcms_Link_Identifiers] ON 

INSERT [dbo].[nfcms_Link_Identifiers] ([id], [identiferName], [theme]) VALUES (1, N'TOP', N'nftheme')
INSERT [dbo].[nfcms_Link_Identifiers] ([id], [identiferName], [theme]) VALUES (4, N'NAVI', N'nftheme')
SET IDENTITY_INSERT [dbo].[nfcms_Link_Identifiers] OFF
SET IDENTITY_INSERT [dbo].[nfcms_Links] ON 

INSERT [dbo].[nfcms_Links] ([id], [LinkType], [LinkController], [LinkAction], [LinkHref], [LinkText], [LinkRelationship], [LinkIsActive], [SublinkController], [SublinkAction], [SublinkFrom], [NormalStateClass], [HoverStateClass]) VALUES (1212, N'MAIN', N'home', N'*', N'', N'LANG_LINKS_HOME', N'', N'1', N'', N'', 0, N'nav_home', N'nav_home_hover')
INSERT [dbo].[nfcms_Links] ([id], [LinkType], [LinkController], [LinkAction], [LinkHref], [LinkText], [LinkRelationship], [LinkIsActive], [SublinkController], [SublinkAction], [SublinkFrom], [NormalStateClass], [HoverStateClass]) VALUES (3434, N'MAIN', N'home', N'index', N'/Home/Index', N'LANG_LINKS_HOME', N'', N'1', N'', N'', 1212, N'nav_home', N'nav_home_hover')
INSERT [dbo].[nfcms_Links] ([id], [LinkType], [LinkController], [LinkAction], [LinkHref], [LinkText], [LinkRelationship], [LinkIsActive], [SublinkController], [SublinkAction], [SublinkFrom], [NormalStateClass], [HoverStateClass]) VALUES (4545, N'MAIN', N'home', N'contact', N'/Home/Contact', N'LANG_LINKS_CONTACT', N'', N'1', N'', N'', 1212, N'nav_home', N'nav_home_hover')
SET IDENTITY_INSERT [dbo].[nfcms_Links] OFF
INSERT [dbo].[nfcms_Links2Identfiers] ([linkID], [identifierID]) VALUES (1212, 1)
INSERT [dbo].[nfcms_Links2Identfiers] ([linkID], [identifierID]) VALUES (7878, 1)
INSERT [dbo].[nfcms_Links2Identfiers] ([linkID], [identifierID]) VALUES (3434, 4)
SET IDENTITY_INSERT [dbo].[nfcms_PermissionGroups] ON 

INSERT [dbo].[nfcms_PermissionGroups] ([id], [groupName], [isGuestGroup], [isDefaultGroup]) VALUES (1, N'guestG', N'true', N'false')
INSERT [dbo].[nfcms_PermissionGroups] ([id], [groupName], [isGuestGroup], [isDefaultGroup]) VALUES (2, N'admins', N'false', N'false')
INSERT [dbo].[nfcms_PermissionGroups] ([id], [groupName], [isGuestGroup], [isDefaultGroup]) VALUES (3, N'registered_users', N'false', N'true')
SET IDENTITY_INSERT [dbo].[nfcms_PermissionGroups] OFF
INSERT [dbo].[nfcms_Permissionkeys] ([pkey], [defaultVal], [langLine]) VALUES (N'write_comments', N'true', N'LANG_PERMISSIONS_WRITE_COMMENTS')
INSERT [dbo].[nfcms_Permissionkeys] ([pkey], [defaultVal], [langLine]) VALUES (N'CAN_VIEW_PAGE', N'true', N'')
INSERT [dbo].[nfcms_Permissionkeys] ([pkey], [defaultVal], [langLine]) VALUES (N'USR_IS_ADMIN', N'true', N'')
INSERT [dbo].[nfcms_Permissions2Groups] ([groupID], [val], [pk]) VALUES (N'guestG', N'true', N'write_comments')
INSERT [dbo].[nfcms_Permissions2Groups] ([groupID], [val], [pk]) VALUES (N'admins', N'true', N'can_view_page')
INSERT [dbo].[nfcms_Permissions2Groups] ([groupID], [val], [pk]) VALUES (N'admins', N'true', N'USR_CAN_VIEW_ACCOUNT_SETTINGS')
INSERT [dbo].[nfcms_Profile_User_Values] ([VarName], [VarValue], [PKID]) VALUES (N'ProfileImage', N'/UserAvatar/Malte-Picture.jpg', N'8cbbfe36-c96e-46fc-a8af-b6757181e799')
INSERT [dbo].[nfcms_Profile_User_Values] ([VarName], [VarValue], [PKID]) VALUES (N'ProfileImage', N'/UserAvatar/Malte-Picture.jpg', N'8cbbfe36-c96e-46fc-a8af-b6757181e799')
INSERT [dbo].[nfcms_Profile_Vars] ([Name], [LangLine], [Section], [ViewName], [Active], [ShowInProfile]) VALUES (N'ProfileImage', N'LANG_PROFILE_IMAGE', N'ProfileImage', N'', N'true', N'true')
INSERT [dbo].[nfcms_Profile_Vars] ([Name], [LangLine], [Section], [ViewName], [Active], [ShowInProfile]) VALUES (N'ProfileImage', N'LANG_PROFILE_IMAGE', N'ProfileImage', N'', N'true', N'true')
SET IDENTITY_INSERT [dbo].[nfcms_RegisteredMIMETypes] ON 

INSERT [dbo].[nfcms_RegisteredMIMETypes] ([id], [fileExstension], [MIMEType]) VALUES (1, N'.jpg', N'image/jpeg')
INSERT [dbo].[nfcms_RegisteredMIMETypes] ([id], [fileExstension], [MIMEType]) VALUES (2, N'.bmp', N'image/bmp')
INSERT [dbo].[nfcms_RegisteredMIMETypes] ([id], [fileExstension], [MIMEType]) VALUES (3, N'.png', N'image/png')
SET IDENTITY_INSERT [dbo].[nfcms_RegisteredMIMETypes] OFF
SET IDENTITY_INSERT [dbo].[nfcms_SettingCategories] ON 

INSERT [dbo].[nfcms_SettingCategories] ([id], [Name], [CatRel]) VALUES (1, N'Contents', N'GLOBAL_SETTINGS')
INSERT [dbo].[nfcms_SettingCategories] ([id], [Name], [CatRel]) VALUES (1, N'adsdsaasasd', N'USER_SETTINGS')
INSERT [dbo].[nfcms_SettingCategories] ([id], [Name], [CatRel]) VALUES (2, N'TestCat', N'USER_SETTINGS')
SET IDENTITY_INSERT [dbo].[nfcms_SettingCategories] OFF
SET IDENTITY_INSERT [dbo].[nfcms_SettingModels] ON 

INSERT [dbo].[nfcms_SettingModels] ([id], [SettingName], [SettingLangLineLabel], [SettingLangLineDescr], [SettingDefaultValue], [SettingRelation], [SettingType], [ValueType], [CID]) VALUES (61, N'MAILER_DEFAULT_LAYOUT', N'LANG_MAILER_DEFAULT_LAYOUT', N'LANG_GLB_SETTING_ID0_MAILER_DEFAULT_LAYOUT_DESCR_GENERATED', N'', N'GLOBAL_SETTINGS', N'Core.SettingType.String', N'Core.ValueType.String', 59)
INSERT [dbo].[nfcms_SettingModels] ([id], [SettingName], [SettingLangLineLabel], [SettingLangLineDescr], [SettingDefaultValue], [SettingRelation], [SettingType], [ValueType], [CID]) VALUES (78, N'MAILER_SMTPSERVER', N'LANG_MAILER_SMTPSERVER', N'LANG_GLB_SETTING_ID0_MAILER_SMTPSERVER_DESCR_GENERATED', N'mail.example.com', N'GLOBAL_SETTINGS', N'Core.SettingType.String', N'Core.ValueType.String', 16)
INSERT [dbo].[nfcms_SettingModels] ([id], [SettingName], [SettingLangLineLabel], [SettingLangLineDescr], [SettingDefaultValue], [SettingRelation], [SettingType], [ValueType], [CID]) VALUES (79, N'MAILER_SMTP_PORT', N'LANG_MAILER_SMTP_PORT', N'LANG_GLB_SETTING_ID0_MAILER_SMTP_PORT_DESCR_GENERATED', N'95', N'GLOBAL_SETTINGS', N'Core.SettingType.String', N'Core.ValueType.String', 16)
SET IDENTITY_INSERT [dbo].[nfcms_SettingModels] OFF
SET IDENTITY_INSERT [dbo].[nfcms_Settings2Permissions] ON 

INSERT [dbo].[nfcms_Settings2Permissions] ([id], [FrontEndPM], [BackEndPM], [sid]) VALUES (1, N'write_comments', N'write_comments', 11)
INSERT [dbo].[nfcms_Settings2Permissions] ([id], [FrontEndPM], [BackEndPM], [sid]) VALUES (2, N'write_comments', N'write_comments', 12)
INSERT [dbo].[nfcms_Settings2Permissions] ([id], [FrontEndPM], [BackEndPM], [sid]) VALUES (3, N'can_view_page', N'can_view_page', 20)
SET IDENTITY_INSERT [dbo].[nfcms_Settings2Permissions] OFF
SET IDENTITY_INSERT [dbo].[nfcms_SettingStores] ON 

INSERT [dbo].[nfcms_SettingStores] ([id], [sid], [val]) VALUES (1, 33, N'true')
INSERT [dbo].[nfcms_SettingStores] ([id], [sid], [val]) VALUES (2, 33, N'false')
INSERT [dbo].[nfcms_SettingStores] ([id], [sid], [val]) VALUES (3, 34, N'yes')
SET IDENTITY_INSERT [dbo].[nfcms_SettingStores] OFF
SET IDENTITY_INSERT [dbo].[nfcms_SettingStores2Locales] ON 

INSERT [dbo].[nfcms_SettingStores2Locales] ([id], [stid], [langLine]) VALUES (1, 1, N'LANG_STORE_SHOW_EMAIL_YES')
INSERT [dbo].[nfcms_SettingStores2Locales] ([id], [stid], [langLine]) VALUES (2, 2, N'LANG_STORE_SHOW_EMAIL_NO')
INSERT [dbo].[nfcms_SettingStores2Locales] ([id], [stid], [langLine]) VALUES (3, 3, N'LANG_STORE_RECIEVE_PMS_YES')
SET IDENTITY_INSERT [dbo].[nfcms_SettingStores2Locales] OFF
SET IDENTITY_INSERT [dbo].[nfcms_SettingValues] ON 

INSERT [dbo].[nfcms_SettingValues] ([id], [SettingValue], [SettingID]) VALUES (53, N'', 61)
INSERT [dbo].[nfcms_SettingValues] ([id], [SettingValue], [SettingID]) VALUES (70, N'', 78)
INSERT [dbo].[nfcms_SettingValues] ([id], [SettingValue], [SettingID]) VALUES (71, N'', 79)
SET IDENTITY_INSERT [dbo].[nfcms_SettingValues] OFF
INSERT [dbo].[nfcms_Sub_Categories] ([PKID], [CID], [ref], [shortName], [longName], [langCode]) VALUES (N'50ba5b12-fce8-44f5-b2ca-68afa52dfbfb', N'51cf5feb-46a3-42cc-8a10-f3500095634e', N'news', N'test', N'Test', N'deDE')
SET IDENTITY_INSERT [dbo].[nfcms_Thumpnails_Module] ON 

INSERT [dbo].[nfcms_Thumpnails_Module] ([id], [atID], [LastModification], [Path], [Width], [Height]) VALUES (1, N'f6f05cb6-276e-4c88-b028-b8396e90058c', CAST(0x0000A1C50009FD08 AS DateTime), N'C:\Users\Malte\Documents\Visual Studio 2012\Projects\Ren.CMS.Net\nCMS_NET\Thumpnails\Storage\1\64x64\f6f05cb6-276e-4c88-b028-b8396e90058c.thump.jpeg', 64, 64)
INSERT [dbo].[nfcms_Thumpnails_Module] ([id], [atID], [LastModification], [Path], [Width], [Height]) VALUES (3, N'f6f05cb6-276e-4c88-b028-b8396e90058c', CAST(0x0000A1C5000C30B4 AS DateTime), N'/Thumpnails/Storage/3/128x128/f6f05cb6-276e-4c88-b028-b8396e90058c.thump.jpeg', 128, 128)
INSERT [dbo].[nfcms_Thumpnails_Module] ([id], [atID], [LastModification], [Path], [Width], [Height]) VALUES (1002, N'5f9dc9ba-3292-4b00-a3aa-3face9158827', CAST(0x0000A1C70149A510 AS DateTime), N'/Thumpnails/Storage/1002/64x64/5f9dc9ba-3292-4b00-a3aa-3face9158827.thump.jpeg', 64, 64)
SET IDENTITY_INSERT [dbo].[nfcms_Thumpnails_Module] OFF
SET IDENTITY_INSERT [dbo].[nfcms_User2Settingvalues] ON 

INSERT [dbo].[nfcms_User2Settingvalues] ([id], [sid], [uid], [vid]) VALUES (3, 11, N'8cbbfe36-c96e-46fc-a8af-b6757181e799', 5)
INSERT [dbo].[nfcms_User2Settingvalues] ([id], [sid], [uid], [vid]) VALUES (4, 11, N'bde3f3be-6b25-44b7-816a-cf3c134266be', 6)
INSERT [dbo].[nfcms_User2Settingvalues] ([id], [sid], [uid], [vid]) VALUES (5, 12, N'8cbbfe36-c96e-46fc-a8af-b6757181e799', 1)
SET IDENTITY_INSERT [dbo].[nfcms_User2Settingvalues] OFF
SET IDENTITY_INSERT [dbo].[nfcms_Users_Settings_Table] ON 

INSERT [dbo].[nfcms_Users_Settings_Table] ([id], [settingName], [settingDefaultVal], [settingLangLine], [settingLongDescription], [SettingOrder], [DataType], [s_type]) VALUES (1212, N'test', N'testtest', NULL, NULL, 100, NULL, NULL)
INSERT [dbo].[nfcms_Users_Settings_Table] ([id], [settingName], [settingDefaultVal], [settingLangLine], [settingLongDescription], [SettingOrder], [DataType], [s_type]) VALUES (2323, N'test2', N'testtest2', NULL, NULL, 100, NULL, NULL)
SET IDENTITY_INSERT [dbo].[nfcms_Users_Settings_Table] OFF
ALTER TABLE [dbo].[nfcms_Filemanagement_Crossbrowsers] ADD  CONSTRAINT [DF_nfcms_Filemanagement_Crossbrowsers_FileType]  DEFAULT ('video') FOR [FileType]
GO
ALTER TABLE [dbo].[nfcms_Thumpnails_Module] ADD  DEFAULT ((64)) FOR [Width]
GO
ALTER TABLE [dbo].[nfcms_Thumpnails_Module] ADD  DEFAULT ((64)) FOR [Height]
GO
