@{
 
    Layout = "~/Views/Backend/_Layout.cshtml";

    
 
    
    
}

 
    <style>
        .ui-menu { width: 140px; font-size:10px;margin:1px;}

  

       

    </style>

<script>

    var iconPositions = [



];
 

   

</script>
 
    <div id="mainframe" style="width:100%;height:100%;">




    </div>
    