<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="foolproof" version="0.9.4517" targetFramework="net45" />
  <package id="Iesi.Collections" version="4.0.0.4000" targetFramework="net45" />
  <package id="MvcContrib" version="2.0.95" targetFramework="net45" />
  <package id="NHibernate" version="4.0.1.4000" targetFramework="net45" />
  <package id="NUnitTestAdapter" version="1.2" targetFramework="net45" />
</packages>