 
@model Ren.CMS.Models.Core.nContentPostModel

<fieldset>
    <legend>Fertigstellen</legend>



<table class="tblEditContent">
    <tr title="Hier können Sie bei Bedarf das Erstell Datum einstellen. Manche Module veröffentlichen die Inhalte erst, wenn das Datum erreicht ist.">
        <td>
            <b>Erstelldatum:</b><br />
            <a href="javascript:void(0)" class="create-content-help">Hilfe?</a>
        </td>
        <td>

       @Html.TextBox("CreationDate", Model.CreationDate.ToString("dd.MM.yyyy"),
 new { @class = "date" })

        </td>

    </tr>
       <tr title="Wenn diese Box nicht markiert ist, wird der Beitrag im Frontend sofort nach dem Speichern sichtbar">
        <td><b>Freigeben:</b><br />
            <a href="javascript:void(0)" class="create-content-help">Hilfe?</a></td>
        <td>
          
            @Html.CheckBoxFor(m => m.Locked, new { style = "width:auto" }) Nein


        </td>

    </tr>
<tr><td><div id="widget-editcontent-result"></div></td>
    <td>
    <input type="submit" value="Speichern" id="widget-ui-edit-content-default"/></td></tr>
</table></fieldset>