<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

    <section
        name="themeData"
        type="Ren.CMS.CORE.Config.ThemeData"
        allowLocation="true"
        allowDefinition="Everywhere"
      />
    
  </configSections>
  <themeData>
    <title><![CDATA[Ren.CMS.NET Default Theme]]></title>
    <author><![CDATA[Malte Peters - NetworkFreaks.de]]></author>
    <themeName><![CDATA[ren.cms]]></themeName>
    <description><![CDATA[This is the default theme for Ren.CMS.NET. Fell free to modify it.]]></description>
  </themeData>
 
</configuration>
