 @model nfCMS_NET.Models.ForwardModel
 
 @{
    nfCMS_NET.CORE.Language.Language LNGT = new nfCMS_NET.CORE.Language.Language("__USER__","NEWS");



    ViewBag.Title = LNGT.getLine("LANG_NEWS_FORWARD_TITLE");
 
     
  
    }

    <meta http-equiv="refresh" content="5;URL=@Model.url" />

   <div id="content">


   <h2>Weiterleitung erfolgt...</h2>

   <p>
   
   Du verlässt nun NetworkFreaks.de. Wir übernehmen keinerlei Haftung für externe Links.

   <br />
       <img src="/Content/themes/nftheme/images/ajax-loader.gif" title="Loading..." alt="Loading..." />
       Du wirst nun auf  <a href="@Model.url" title="@Model.url">@Model.url</a> weitergeleitet....
          
   </p>
   <p>
   <a href="/Home/Index">Nein! Doch nicht!</a>
   
   </p>
   </div>