@model Ren.CMS.Models.Core.nContentPostModel
@using Ren.CMS.Helpers
@using Ren.CMS.CORE.Language.LanguageDefaults
@using Ren.CMS.CORE.Helper
@using Ren.CMS.Models.jsTreeModels
 
@{
    //Prerender Texts

    var langcodes = new Ren.CMS.Persistence.Base.BaseRepository<Ren.CMS.Persistence.Domain.LangCode>().GetMany().ToList();
    ViewData["LangCodes"] = langcodes;
    Model.Texts = new List<Ren.CMS.Models.Core.nContentPostModelText>();
    Model.CreationDate = DateTime.Now;
    var list = Model.Texts.ToList();
    foreach(var code in langcodes)
    {
    
       if(!Model.Texts.Any(e => e.LangCode == code.Code))
       {
           list.Add(new Ren.CMS.Models.Core.nContentPostModelText()
           {

               LangCode = code.Code
           });
       }

       Model.Texts = list;
    }
    
    
    
    }


<style type="text/css">
    .fileDiv {
    
    width:100%;
     background-color:transparent;

    
    
    }
        .fileDiv:hover {

   background-color:#e6dede;

        }


    .fileDivCell1 {
    
    float:left;
    }
     .fileDivCell2{
    
    float:right;
    }



    .tagsContent select {
        width:50%;

        font-size:11pt;
    }
    table.tblEditContent {
    
    width:100%;

    
    
    }

        table.tblEditContent td:first-child {
            width:50%;
            min-height: 30px;
            padding:1px;
            margin:1px;
            vertical-align:top;
            text-align:left;
        }
             table.tblEditContent tr {
        
        background-color:transparent;

        
        
        }
        
   table.tblEditContent td:last-child {
            width:50%;
            padding:1px;
             min-height: 30px;
            margin:1px;
            vertical-align:top;
            text-align:right;
        }

       
        table.tblEditContent td input, table.tblEditContent td select, table.tblEditContent td textarea{
            width:100%;
        }
        table.tblEditContent td textarea {
        
        height:150px;

        }
    a.create-content-help {
    
        cursor:help;
        text-decoration:dotted;
    
    }

</style> 

 
<script>

 


    $(function () {


        $('.date').datepicker({ dateFormat: "dd.mm.yy" });

    });

    $(function () {

        $('#widget-ui-edit-content-default').button();


    });
    $(function () {


        $('#@Html.ProtectID("edit_content_form")').find(".ct-title").each(function () {
            var self = this;
            $(this).keyup(function () {
                var title = this;
                var langcode = $(this).attr("data-lang");
                var findTarget = $('#@Html.ProtectID("edit_content_form")').find(".ct-seoname").filter(function () {

                    return $(this).attr("data-lang") == langcode;
                });
                console.log("Target for SEO Gen:");
                console.log(findTarget);

                var isEnabled = $('#@Html.ProtectID("edit_content_form")').find(".ct-enable-seogen").filter(function () {

                    return $(this).attr("data-lang") == langcode;
                }).is(":checked");
                console.log("Is Enabled?");
                console.log(isEnabled);
                if (isEnabled) {
                    var val = $(title).val();
                    $.post("/BackendHandler/Content/ValidateSEOTitle", { title: val }, function (data) {
                        console.log("2- Target for SEO Gen:");
                        console.log(findTarget);
                        $(findTarget).val(data.seoname);



                    }, 'json');

                }
                
            });


        }); 

    });
    $(function () {


        $('.create-content-help').each(function () {
            try {
                $(this).click(function () {

                    $(this).tooltip();
                    $(this).tooltip('show');

                });
            }
 catch(e){}


        });


    });
    $(function () {
        $('#@Html.ProtectID("edit_content_form") :input').each(function () {

            if ($(this).attr("data-name"))
            {
                $(this).attr("name", $(this).attr("data-name"));


            }


        });
       


        new backenForm('#@Html.ProtectID("edit_content_form")',

            {
                backendHandler : "Content",
                backendAction : "Content",
                language: '@Ren.CMS.CORE.Helper.CurrentLanguageHelper.CurrentLanguage',
                beforeSubmit: function (formdata) {

                    formdata.each(function () {
                        //Encode Entitys
                        var newV = decodeEntities($(this).val());

                        
                        $(this).val(encodeURI(newV));

                    })

                },
                afterSubmit: function (f, fd, d) {

                  



                    $(f).find(":input").each(function () {

                        switch ($(this).attr("type")) {

                            case 'checkbox':
                            case 'radio':
                            case 'button':
                            case 'submit':
                            case 'image':
                                return;
                                break;
                            default:
                                var d =  $("<div/>").html($(this).val());
                               

                                $(this).val(decodeURI($(d).html()));
                                break;

                        }


                    });

                }
            
    });



    });
</script>
 <input type="hidden" id="create-content-seo-cache" value="" />
<div id="help-dialog-create-content" style="font-size:10px !important;"></div>

 @using (Html.BeginForm(actionName: "Content", controllerName: "/" + Ren.CMS.CORE.Helper.CurrentLanguageHelper.CurrentLanguage + "/BackendHandler/Content", method: FormMethod.Post, htmlAttributes: new { id = Html.ProtectID("edit_content_form") }))
 {


             
            Html.bootStrapTabs()
            .AddTab("GeneralInfo",
            "Hauptdaten",
            ("~/Views/Backend/widgets/__SHARED/Content/Tabs/Generaltab.cshtml"),
            Model,
            true)
            .AddTab("SEO", "Suchmaschienenoptimierung", ("~/Views/Backend/widgets/__SHARED/Content/Tabs/SEOTab.cshtml"), Model, viewData: ViewData)
            .AddTab("CAT", "Kategorie und Tags", "~/Views/Backend/widgets/__SHARED/Content/Tabs/TagsTab.cshtml", model: Model, viewData: ViewData)
            .AddTab("FINISH", "Fertigstellen", ("~/Views/Backend/widgets/__SHARED/Content/Tabs/FinishTab.cshtml"), model: Model, viewData: ViewData)
            .Render();
           
     <input type="hidden" name="ContentType" value="@Model.ContentType"/>

 }
