#externalNav
{
    margin:10px 5px 10px 5px;
    
    
    }


.changeProfilePic
{
    background:transparent url("images/changeAvatar.png") no-repeat;
    width: 150px;
    height:24px;
    border:none;
}

.flclear
{

    clear:both;
}
.flleft
{
    float:left;
    text-align:left;
}
.flright
{

    float:right;
    text-align:right;
}
.content_spacer_20px
{
  height:20px;
  float:left;
  clear:both;
    
    
    
    }

table.normaltable
{

    width:700px;
    margin-top:10px;
    background:#f3f3f3;
}
    table.normaltable td
    {
        padding:5px;
        background:#FFF;
        margin-top:1px;
        margin-left:1px;
    }
.setting_description
{


    font-size: 11px;
color: #AAA;
}

.normal_settingSelect_single
{

    width:150px;
    color:#AAA;

}
    table.normaltable td:first-child
    {
        
        width: 470px;
        text-align:left;
        vertical-align:top;
        

    }
    table.normaltable td:last-child
    {

        width: 220px;
        text-align:right;
          vertical-align:top;
          margin-right:1px;

    }
    .headerArea
    {
        width:1007px; clear:both; height:255px; margin:0 auto; background:#000;
        
        }
        
     .headerLogo
     {
       background: transparent; width:498px; float:left; height:250px;
         
         
         }
             .headerLogo img
             {
       max-width: 590px;
max-height: 234px;
                 }
         .loginBottomText
         {
             clear:both;
             float:left;
             padding:2px;
             font-family: Arial;
             font-size:10pt;
             
             
             
             
             }
             
         .loginBottomText a:link, .loginBottomText a:visited
         {
      
             color: #FFF !important;
             font-weight: bold;
             text-decoration: none;
             
             
             
             }
             
             
             .avatar
             {
                 
                 border:1px solid #EAEAEA;
                               width: 125px;
                    height: 100px;
                 vertical-align:middle;
                 
                 
                 
                 }
               
                 .avatar b
                 {
                     
                        color: #BABABA;
                        margin: 10%;
                        float: left;
                     
                     }
                 .avatar img
                 {
                     
                     max-width:125px;
                     max-height:100px;
                     border:0;
                     }
             .loginBottomText a:hover
             {
                 
                    color: #8c8c8c !important;
             font-weight: bold;
             
             text-decoration: none;
             
                 
                 }
                      
           .userUnderText
         {
             float:left;
             clear:both;
             padding:2px;
             font-family: Arial;
             font-size:12pt;
             color: #8c8c8c;
             
             }
         userUnderText a,a:visited
         {
             color: #8c8c8c;
             font-weight: bold;
             text-decoration: none;
             font-size:10pt;
         } 
         .loginUnderText
         {
             float:left;
             clear:both;
             padding:2px;
             font-family: Arial;
             font-size:12pt;
             color: #8c8c8c;
             
             }
         .loginUnderText a,a:visited
         {
             color: #8c8c8c;
             font-weight: bold;
             text-decoration: none;
            
             
             }
             
             a
             {
             color: #8c8c8c; 
             text-decoration: underline;  
                 
                 }
                          a:hover
             {
             color: #8c8c8c; 
             text-decoration: none;  
                 
                 }
             
         .loginUnderText a:hover
         {
             color: #FFF;
             font-weight: bold;
             
             text-decoration: none;
             
             }
             
         .headerLogin
         {
             width:400px;
             float:right;
             padding:20px;
            
             
             
             
             
             }
             
             .loginUser
             {
                 background: transparent url(images/login_user.png) !important;
                 float:left !important;
                 margin-right:10px !important;
                 text-indent:17px;
                 
                 }
    .loginPwd
             {
                 background: transparent url(images/login_pwd.png) !important;
                 float:left;
                 margin-right:10px;
                 text-indent:19px;
                 
                 }
                 
      .btnOK
      {
          width: 45px;
          height: 32px;
        text-indent: 200px;
        background: transparent url(images/btnOK.png);
        border:0 !important;
          
          
          }           
                 
     input[type="text"],input[type="password"]
     {
        font-family: Verdana;
        font-size: 12px;
        color: #505050;
        padding: 5px;
           width:156px;
           height:23px;
           background: transparent url(images/input.png) no-repeat;
        font-weight:600;
  
        border-width: 0px;
        border-color: transparent;
       
         
         }
         
   .btnPosten
   {
       color:transparent;
       text-indent: 90px;
       background:transparent url(images/posten.png);
       width: 98px;
       height:32px;
       border:0;
       cursor:pointer;
       
       
       
       
       }
       
  
      .commentTextField
 {
        width:625px;
        border-radius: 5px;
        -moz-border-radius: 5px; /* Firefox */
        -webkit-border-radius: 5px; /* Safari, Chrome */
  
        border-width: 1px;
        border-color: #BABABA;
        font-family: Verdana;
        font-size: 13px;
        color: #505050;
        padding: 5px;
     
     
     
     
     
     } 
 .commentfield
 {
     float:left;
     clear:both;
     
     width: 100%;
     display:none;
     
     }    
 #slider_frame h1
 {
     font-family: Verdana;
     font-size: 19pt;
     margin:0;
     padding:0;
     color: #FFF;
     
     
     
}   
.hr_slider
{
    width:237px;
    height: 1px;
    float:left;
    clear:both;
    margin:10px 0 10px 0;
    
    
    }
.slider_thump_container
{
 
    width: 109px;
    height:62;
    max-width: 109px;
    max-height:62px;
    margin-right:9px;
    position:relative;
    float:left;
    }
 .slider_thump_container img
 {
    max-width: 109px;
    max-height:62px;
    
     
     
     }   
    .slider_thump
{       
    	  border: 1px solid #747373;
     max-width: 109px;
    max-height: 62px;
  margin: 1px;

    
    }

.page_inner{
width: 1001px;
padding: 3px;
border:1px solid #111;
background: #e5e5e5;
font-family: Verdana;
font-size: 12px;
margin:0 auto;

line-height: 18px;
}

.pro
{
    color:Green;
    
    
    
    
    }
.contra
{
    
    
    color:Red;
    
    }
    
    
.neutral
{
    
    color: #AAA;
    
    
    }

.listentry_left
{
    float:left;
    clear:both;
    padding:5px;
    min-height:105px;
    margin-right:10px;
    
    
    width: 196px;
}
 .listentry_left img
 {
     max-height: 130px;
     max-width: 196px;
     
     
     }
.listentry_right
{
    width: 474px;
    min-height:105px;
    float:left;
    
    }
    .listentry
    {
        float:left;
        clear:both;
        padding-bottom:5px;
        width:100%;
        
        }
.listentry_top
{
    float:left;
    clear:both;
    
    }
    
.listentry_top a
{
    text-decoration:none;
    
    }
    
    
.listentry_middle
{
    color: #6f6e6e;
    font-size: 8pt !important;
    padding: 5px 0 5px 0;
    float:left;
    clear:both;
 
    
    }
    .content_hr
    {
        width:593px;
        height:17px;
        background-image: url("images/content_hr.png");
        float:left;
        clear:both;
        
        
        }
  .listentry_bottom
  {
      font-size: 12px;
      color: #111;
      clear:both;
      float:left;
      
      
      line-height: 18px;
}  


      .listentry_middle span
{
    color: #097009 !important;
    font-size: 8pt;
 
    
    
    }

    .listentry_middle a
{
    color: #097009 !important;
    font-size: 8pt;
    text-decoration: underline;
    
    
    }


    .listentry_middle a:hover
{
    color: #3BC53B !important;
    font-size: 8pt;
    text-decoration: none;
    
    
    }
 
#content h1, h1 a
{
    color: #03230b !important;
    padding: 0;
    margin:0;
    text-decoration: none;
    
    }
    #content h2, h2 a
{
    color: #03230b !important;
    padding: 0;
    margin:0;
    text-decoration: none;
    
    }
     
    #content h3, h3 a
{
    color: #03230b !important;
    padding: 0;
    margin:0;
    text-decoration: none;
    
    }
    #content h4, h4 a
{
    color: #03230b !important;
    padding: 0;
    margin:0;
    text-decoration: none;
    
    }
    
    .comment_btn
    {
        
        text-align: right;
clear: right;
 
float: right;
padding-top: 95px;
        
        }
    .gitem div
    {
      width:66px;
      height: 66px;
      padding:5px;
      background:transparent;
        
        
        }
        
        
        .read_more
        {
            background:transparent url("images/read_more.png");
            width: 117px !important;
            height: 21px !important;
            
           
            
            
            
            
            }
       .gitem b
       {
           
           color: #909090;
           font-size:8pt;
           
           }
           
           .gitem div:hover
           {
               background:transparent url("images/right_nav_bg.png") no-repeat;
               width:66px;
               height: 66px;
               padding: 5px;
               }
      
    
    
        .rightmenu h1,h2,h3,h4
    {
        color:#FFF;
        padding:0;
        margin:0;
 
        
        }
    .rightmenu
    {
        float:right;
        clear:both;
        background: #02220a url("images/right_nav_bg.png") no-repeat;
        min-height:276px;
        min-width: 260px;
        padding:10px;
        background-position:right;
        
        
        
        }
        .latestEntries
        {
        height:276px;
        width: 260px;
            }
#content{
float:left;
clear:both;
background: #FFF url("images/content_bg.png") no-repeat;
color:#111;
width: 698px;
padding:10px;
font-size:9pt;


}

input[type='button'], input[type='submit']
{

    cursor:pointer;
}
.account_profile_image
{

    width:104px !important;
    

}

div.account_profile_image_div
{
    width:100px;
    height: 100px;
    margin: auto;


}
    div.account_profile_image_div img
    {
        max-height: 100px;
        max-width: 100px;
        vertical-align: middle;
        border: none;
    }

a img
{
    border:none !important;
}
#locationbar img
{
    width:16px;
    position:absolute;
    margin-top:1px;
    left:5px;
    }

#locationbar
{
    position:relative;
    overflow:hidden;
    float:left;
clear:both;
color:#111;
width: 675px;
padding-left:18px;
padding-right:5px;
font-size:9pt;
vertical-align:top;
height:18px;
margin:10px 0px 10px 0px;
    
    }
#nav_sub div
{
    padding:5px;
    
    
    }
#nav_sub
{
    background:#0db635 url("images/sub_nav.png");
    color: #FFF;
    font-family: Arial;
  font-size:13pt;
    font-variant:small-caps;
    height: 37px;
    width: 998px;
        float:left;
    clear:both;
    margin-bottom:10px;
    
    margin-left: 1px;
}
    #nav_sub a
    {
color: 
#FFF;
font-family: Arial;
font-size: 11pt;
text-decoration: none;
font-weight: bold;
font-style: normal !important;
}
.sub_item_active{
  color: 
#FFF;
font-family: Arial;
font-size: 11pt;
text-decoration: underline !important;
font-weight: bold;
font-style: normal !important;
}       
    #nav_sub a:hover
    {
color: 
#FFF;
font-family: Arial;
font-size: 11pt;
text-decoration: underline;
font-weight: bold;
font-style: normal !important;
        
        }
        #current-caption
        {
            float:left; padding:10px;
            width: 345px;
            
            
            
            }
#slider_frame
{
width: 718px;
height: 296px;
color: #FFF;
float:left;
clear:both;
background: #191919 url("images/slider_bg.png") no-repeat;
margin-bottom:5px;


}

#left_col
{
    
    width: 621px;
    float:left;
    
    }
    
    #right_col
    {
        width:271px;
        float:right;
       
        }
#latest_p{

width:271px;
height:271px;
float:right;
clear: both;
background: #02220a;
color: #FFF;



}
body{

background: #000 url("images/hintergrundh.jpg") no-repeat fixed center;

 
padding:0; 
margin:0;

}
#nav
{
    background: transparent url("images/nav_bg.jpg");
    padding:0;
    float:left;
    clear:both;
    width: 1000px !important;
    height: 60px !important;
   
    
    }
    
.sub_inactive
{
    
    display:none !important;
    
    }
    
.sub_active
{
    
    display:block;
    
    }
 
      .proContraList
      {
          
           width:336px;
        float:right;
        clear:none; 
        padding:2px; 
        min-height:100px;   
          
          }  
          
        .proContraList ul
        {
            list-style-image:none;
            list-style-type:none;
            
            
            
            
            
            }  
                   .proContraList ul li
        {
  margin-top:1px;
  margin-bottom:1px;            
            
            
            
            
            }
  /*Account */
  .account_category:hover
  {
      background:#EEE;
      
      }
  .account_category
  {
   cursor:pointer;   
  background:transparent;    
  width: 151.60px;
height: 101px;
      float:left; 
      border: 1px solid #EEE;
      position:relative;
      text-align:center;
      
      
      }
      
      .account_row_cell
      {
          margin-left:27px;
          margin-top: 10px;
          
          
          
          
          
          
          }
      .account_row_start
      {
          
                    margin-top: 10px;
                    clear:both;
          
          }
          
          
          
      div.account_menu_link
      {
          
          width:100%;
          height:12px;
          position:absolute;
          bottom:12px;
          
          }
      a.account_menu_link
      {
          
     
          color: #333 !important;
          font-size:11px;
          text-decoration:underline !important;
         
          margin:0 auto;
          
          
          }
          
            a.account_menu_link:hover
      {
          
    
          color: #333 !important;
          font-size:11px;
          text-decoration:none !important;
               position:absolute;
          margin:0 auto;
          
          }
     .account_i_invite
     {
         
         background: transparent url("images/invite_friend.png") no-repeat;
        margin:7px auto;
        width: 48px;
        height: 48px; 
         
         }     
    .account_i_settings
    {   
        background: transparent url("images/edit_settings.png") no-repeat;
        margin:7px auto;
        width: 48px;
        height: 48px;
        
        
        
        
        
        
        }      
           
         .account_i_password
    {   
        background: transparent url("images/edit_password.png") no-repeat;
        margin:7px auto;
        width: 48px;
        height: 48px;
        
        
        
        
        
        
        } 
        
                   
         .account_i_mailbox_neutral
    {   
        background: transparent url("images/mailbox_neutral.png") no-repeat;
        margin:7px auto;
        width: 48px;
        height: 48px;
        
        
        
        
        
        
        } 
        
        
                .account_i_mailbox_new
    {   
        background: transparent url("images/mailbox_new.png") no-repeat;
        margin:7px auto;
        width: 48px;
        height: 48px;
        
        
        
        
        
        
        } 
        .floatRight{ float:right !important;}
                  .account_i_notifications
    {   
        background: transparent url("images/notifications.png") no-repeat;
        margin:7px auto;
        width: 48px;
        height: 48px;
        
        
        
        
        
        
        }  
        
        
                          .account_i_logout
    {   
        background: transparent url("images/logout.png") no-repeat;
        margin:7px auto;
        width: 48px;
        height: 48px;
        
        
        
        
        
        
        } 
           
        .account_i_profile
    {   
        background: transparent url("images/edit_profile.png") no-repeat;
        margin:7px auto;
        width: 48px;
        height: 48px;
        
        
        
        
        
        
        }       
                  
           
                
        .account_i_friends
    {   
        background: transparent url("images/view_friends.png") no-repeat;
        margin:7px auto;
        width: 48px;
        height: 48px;
        
        
        
        
        
        
        }  
            
      .proContraList ul li h4
      {
          
              margin:2px;
              text-indent:21px;
              background:transparent url("images/list_normal.png") no-repeat;
          
          
          
          }
          
          
          a.tagLink, a.tagLink:visited
          {
              
                  color: #6f6e6e;
                  font-size: 10pt;
                  text-decoration:underline;
                              
              }
         
         
         a.tagLink:hover
         {
             
                  color: #6f6e6e;
                  font-size: 10pt;
                  text-decoration:none;
             
             
             }
          
      .ratingList 
      {
        width:336px;
        float:left;
        clear:both;
        padding:2px; 
        min-height:100px;  
          
          }
          
          .ratingList table
          {
              
              width:336px;
              
              }
          
          .ratingList table td
          {
              
              padding: 5px;
              vertical-align:top;
              text-align:left; 
              
              
              }  
       .ratingList table td h4
          {
              
              margin:2px;
              text-indent:21px;
              background:transparent url("images/list_normal.png") no-repeat;
              
              
              
              } 
    .ratingstar
    {
        
        float:left !important;
        margin-left:-2px !important;
        margin-right:-2px !important;
        margin-top:1px;
        
        }
    .ratinglink span
    {
        text-decoration:underline;
         
        
        }
          .ratinglink:hover span
    {
        text-decoration:none;
        
        
        }
.uiInactive
{
    
    background-image: url(images/inactive.png) !important;
    
    
    }
 .nav_news{

width: 110px;
height:60px;
cursor:pointer;
float:left;
background: transparent url("images/button_news_normal_state.png");
 

}
.nav_news:hover, .nav_news_hover{

width: 110px;
float:left;
height:60px;
cursor:pointer;
background: transparent url("images/button_news_hover_state.png");

}    
.nav_home{

width: 120px;
height:60px;
 
cursor:pointer;
background: transparent url("images/nav_button_home_normal_state.jpg");
float:left;

}
.nav_home:hover, .nav_home_hover{

width: 120px;
height:60px;
cursor:pointer;
float:left;
background: transparent url("images/nav_button_home_hover_state.jpg");

} 