.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;} 
input {

-moz-border-radius: 4px;
-webkit-border-radius: 4px;
-khtml-border-radius: 4px;
border-radius: 4px;
 padding:1px;

border: 1px solid #bababa;

}
select {

    -moz-border-radius: 4px;
-webkit-border-radius: 4px;
-khtml-border-radius: 4px;
border-radius: 4px;
 

border: 1px solid #bababa;
padding:1px;
}

textarea {

    -moz-border-radius: 4px;
-webkit-border-radius: 4px;
-khtml-border-radius: 4px;
border-radius: 4px;
 

border: 1px solid #bababa;
padding:1px;
}
.hiddenTaskbarItem {

    visibility:hidden !important;



}
.backend-widget-inactive {

z-index:100 !important;
}


.backend-widget-active {

z-index:110 !important;
}
.headerTitleWidget {
width:100%;
height: 100%;


}
img.widgetIcon {
    max-height:16px !important;
    max-width:16px !important;
}
    .loginformHeader
    {
   margin: 0 auto;
width: 400px;
font-size: 13px;
margin-top: 50px;

    }
     .loginformContent
    {
margin: 0 auto;
width: 400px;
font-size: 11px;

    }

    .headerPadding
    {
        padding:5px !important;
    }

    .contentPadding
    {

        padding:10px;
    }
    .loginTable td
    {
        padding:2px;
        margin:1px;
        vertical-align:top;

    }
        .loginTable td:last-child
        {
            text-align:right;
        }

    .login_Footer
    {
        font-size:8px;
        margin:0 auto;
        margin-top:10px;
        color:grey;
        width:300px;
        text-align:center;
        font-family: Tahoma;
       
    }

        .login_Footer a:visited, .login_Footer a:link
        {
            color:grey;
            text-decoration:underline;
        }


        .login_Footer a:hover
        {
            color:#333;
             text-decoration:none;

        }

.backend-widget {
    z-index:110;
    position:absolute !important;
    margin:10px;
    left:30px;
}

.backend-widget-header {
 
  margin: 0 auto !important;
}
.backend-widget-content {
 
  margin: 0 auto;
}
#time {
    cursor: pointer;
}
 
.ShortCut {
    width: 100px;
    cursor: pointer;
    text-align: center;
    border: solid 1px transparent;
    background: transparent;
}

    .ShortCut:hover,.ShortCut2:hover {
        border: solid 1px #0094ff;
        background: #00ff90;
    }

.dropparea {
    width: 100%;
    height: auto;
    
}
.ShortCutIcon2 {
    width: 100px;
    float: left;
    margin: 5px auto;
    clear: both;
}
.ShortCutIcon {
    width: 100px;
    float: left;
    margin: 5px auto;
    clear: both;
}

    .ShortCutIcon img {
        border: none;
        max-width: 42px;
        max-height: 42px;
    }

.ShortCutText {
    word-wrap: break-word;
    word-break: break-all;
    text-align: left;
    margin: 1px;
    clear: both;
    float: left;
    width: 100px;
    overflow: hidden;
}

    .ShortCutText span {
        font-family: Arial,Tahoma;
        font-size: 11px;
        color: #EEE;
        text-shadow: -1px 0px black,0px 1px black,0px 0px black, 0px 0px black;
        word-wrap: break-word;
        word-break: break-all;
        font-weight: bold;
    }

.backendNotifications {
    position: absolute;
    width: 100%;
    margin: 0px;
    font-size: 11px !important;
    height: 50px;
    z-index: 99;
}

.contextmenu {
    display: none;
    position: absolute;
    z-index: 9999;
}

.OpenDT {
    font-weight: bold !important;
}

.backendNotfClickable {
    background: none !important;
    border: none !important;
}

.backendNotifications div[class='ui-widget'] {
    max-width: 250px;
}

#frame-desktop-board {
    background: transparent url(./images/shade_black.png);
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 1;
    filter: Alpha(Opacity=100);
}
 .ui-icon {
            display: inline-block !important;
        }

 .formDialog {
        
        width:100%;
        font-size:10pt;
        
        }
                    .formDialog td {
            
            
            min-height:16px;
            padding:4px;

            }
            table.formDialog tr td:first-child {

                width:65%;
                text-align:left;
              
            }

             table.formDialog td:last-child {

                width:35%;
              text-align:right;
            }
.container {
    height: 100% !important;
    width: 100% !important;
    min-height:100% !important;
    min-width: 100% !important;
    padding:0px;
    position: fixed;
}

#frame-desktop-menubar {
   
    position: absolute !important;
    width: 100%;
    z-index: 4;
    height: 25px;
    bottom: 0;
}
 #startmenucontainer {
    
    position:absolute;
    left:0;
    bottom:0;
    z-index:99;
    
    }
body {
    margin: 0px;
}


