@model Ren.CMS.Models.Core.nContentIncludedModel

@{
    
    Ren.CMS.Content.nContent News = Model.Entry;
 
     
     }
 
 
 <a href="/News/@News.actionpath">   
 <h3>@News.Title</h3>
 </a>
  
 <div class="content_hr"></div>