@{
    ViewBag.Title = "Homepage";
}

<h2>@ViewBag.Message</h2>
<p>
    Weitere Informationen über ASP.NET MVC finden Sie unter <a href="http://asp.net/mvc" title="ASP.NET MVC-Website">http://asp.net/mvc</a>.
</p>
