@using Ren.CMS.Controllers
@using Ren.CMS.CORE.Helper.DataTables
@using Ren.CMS.CORE.Viewmodels.Backend
@using Ren.CMS.CORE.DataTables.BackendModels
@using Mvc.JQuery.Datatables


@{
 
    //Config for Table

    var vm = Html.DataTableVm<BackendHandlerContentController, ContentListView>(Html.ProtectID("content-list"),
         (BackendHandlerContentController c) => c.ContentList(null));

    vm.TableTools = false;
    vm.JsOptions.Add("fnHeaderCallback", "JSFUNC::cFilter");
    vm.TableTools = true;
    
}

@Scripts.Render("~/Scripts/datatable.columnfilter.js")


<!-- Buttons -->
<a href="#" class="btn btn-default" id="@Html.ProtectID("filter")">Filter</a>

<hr />
<script>
    $(function () {
 
        fixActionColumn($('#@Html.ProtectID("content-list")'));

        $('#@Html.ProtectID("filter")').click(function (e) {

            e.preventDefault();
            $('#@Html.ProtectID("content-list")').dtShowColumnFilter();
           

        });

    });
    function cFilter(oSettings) {

        fixActionColumn($('#@Html.ProtectID("content-list")'));
        

        $('#@Html.ProtectID("content-list")').dtAddColumnFilter();
       
    }
</script>


<!--- List begins here --->

@(Html.JqueryDataTable<ContentListView>(vm))


