<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">ASP.NET Web API</a></p>
        </div>
    </div>
</header>
<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Willkommen bei der ASP.NET Web API!</h1>
                <h2>Ändern Sie den Code in dieser Vorlage, um schnell mit der ASP.NET Web API Entwicklung zu beginnen.</h2>
            </hgroup>
            <p>
                ASP.NET Web API ermöglicht das Bereitstellen Ihrer Anwendungen, Daten und Dienste im
                Web direkt über HTTP.
            </p>
            <p>
                Weitere Informationen zu ASP.NET Web API finden Sie auf der
                <a href="http://go.microsoft.com/fwlink/?LinkID=238195" title="ASP.NET Web API Website">http://asp.net/web-api</a>.
                Die Seite enthält <mark>Videos, Lernprogramme und Beispiele,</mark> die Sie bei der optimalen Nutzung von ASP.NET Web API unterstützen.
                Wenn Sie Fragen zu ASP.NET Web API haben, besuchen Sie
                <a href="http://go.microsoft.com/fwlink/?LinkID=238196" title="ASP.NET Web API Forum">unsere Foren</a>.
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>Wir empfehlen Ihnen folgende Vorgehensweise:</h3>
        <ol class="round">
            <li class="one">
                <h5>Erste Schritte</h5>
                ASP.NET Web API ist ein Framework, das das Erstellen von HTTP-Diensten vereinfacht, die eine breite
                Palette von Clients erreichen, z. B. Browser und mobile Geräte. ASP.NET Web API
                ist eine ideale Plattform zum Erstellen von RESTful-Anwendungen in .NET Framework.
                <a href="http://go.microsoft.com/fwlink/?LinkId=245160">Weitere Informationen…</a>
            </li>

            <li class="two">
                <h5>NuGet-Pakete hinzufügen und schneller Einstieg in die Codierung</h5>
                NuGet vereinfacht das Installieren und Aktualisieren kostenloser Bibliotheken und Tools.
                <a href="http://go.microsoft.com/fwlink/?LinkId=245161">Weitere Informationen…</a>
            </li>
            <li class="three">
                <h5>Webhostinganbieter suchen</h5>
                Sie können auf einfache Weise ein Webhostingunternehmen finden, das die richtige Mischung aus Preis
        und Funktionen für Ihre Anwendungen bietet.
                <a href="http://go.microsoft.com/fwlink/?LinkId=245164">Weitere Informationen…</a>
            </li>
        </ol>
    </section>
</div>
