<ul>
    <li>
        <strong>License</strong>
        <ul>
            <li id="summary-license">...</li>
        </ul>
    </li>

    <li>
        <strong>Installation Type</strong>
        <ul>
            <li id="summary-install-method">...</li>
        </ul>
    </li>

    <li>
        <strong>Database Connection</strong>
        <ul>
            <li id="summary-servername" style="font-weight:bold"></li>
            <li id="summary-db" style="font-weight:bold"></li>
            <li id="summary-auth" style="font-weight:bold"></li>

            <li id="summary-username-server" style="display:none; font-weight:bold"></li>
            <li id="summary-password-server" style="display:none; font-weight:bold"></li>
            <li id="summary-connectionstring" style="font-weight:bold">
                Connectionstring: <input type="text" class="form-control" id="connectionString" name="connectionString" />
                <p>You can change it here if you need special options (Experts only!)</p>
            </li>
            <li id="summary-connectiontest">Connectiontest: ....</li>

        </ul>

    </li>

    <li>
        <strong>System Requirements</strong>
        <ul id="summary-system"></ul>
    </li>


</ul>