 
    <p>
        Thank you for using Ren.CMS.NET. If you have a minute I´ll explain you whats that all about.
        Ren.CMS.NET was originald developed as free-time project for the Community NetworkFreaks.de as new System.
        Mostly like an project to get deeper in the development material in direction to ASP.NET C#.
        At this time the CMS was called nCMS.NET (networkfreaksCMS.NET).
    </p>
    <p>
        The name change was not really a choice. It was something that have to be done because at 2nd of February 2013 in the middle of my aprenticeship my mother passed away.
        Shocked from this happening, I drove directly over the night about 800KMs to the other side of Germany to go to the funeral and say a last time good bye to my mother.
        On the way to northern germany, sitting in the traing I´ve tryed to get new thoughts. As a last peresent for my mother, who was always be proud of me because I took the descision
        to move to the other side of germany to get a aprenticeship as "IT Specialist / Programmer" (Free translated) I erased all my ideas of the CMS and changed the name to REN.CMS.NET.
    </p>

    <p>
        REN - the first three letters of the firstname of my mother (Renate). Thats why you´ll read that name sometimes in the Backend. Also the idea for selling it somewehre was totally changed.
        I created my  Github Account, prepared the code that its more readable and pushed my first commit to it. I will not sell anything with the name of my mother. And thats why I thank
        you for downloading this CMS. Over 4 Years of integration, working and updating to new MVC versions...
    </p>

    <p>
        To bring it to the point:
        <ul>
            <li>
                You can use it for free - totally
            </li>
            <li>
                You can provide free modules or sell your modules - Its no problem.
            </li>

            <li>
                The only thing I whish: Please spread the name if your system is based on REN.CMS. Its not for me you know? Just a hint in disclaimer or so one is enough. No Link, nothing else, just "based on Ren.CMS.NET".
                <br />
                However, its not part of the license, so you dont have to. But it would be nice and it would confirm that the hours of my free-time I spend were great work.
            </li>

        </ul>

    </p>

    <p>
        If you reached this part, you maybe read the whole text. Thanks for using REN.CMS.NET again. Please continue you Installation.

    </p>
 