  <div id="content">
@{
    ViewBag.Title = "Kennwort ändern";
}

<h2>Kennwort ändern</h2>
   @{Html.RenderPartial("../Shared/_LocationBar", ViewData);}
<p>
    Das Kennwort wurde erfolgreich geändert.
</p>
</div>